<template>
    <div class="right-bar">
        <div class="title">{{title}}</div>
        {{groupName}}
        <div v-if="selected" class="lesson-one">
            <div class="item-title">Предмет</div>
            <div v-if='lessonOneSelected' class="lesson-one-selected ">
                <div v-if="chooseType" class="choose-subgroup">
                    <div @click="chooseLessonType(1)" class="subgroup-one">1 подгруппа</div>
                    <div @click="chooseLessonType(2)" class="subgroup-two">2 подгруппа</div>
                </div>
                <div v-else class="item">
                    <div class="text">
                        <div class="name">{{lessonOneName}}</div>
                        <div class="teacher">{{lessonOneTeacher}} {{this.type === 4 ? lessonTwoTeacher : ''}}</div>
                    </div>
                    <div class="item-buttons">
                        <img @click="removeLesson(1)" src="@/assets/close-button.svg" title="удалить предмет">
                    </div>
                </div>
            </div>
            <div v-else class="lesson-one-list nice-scroll">
                <div class="item" :class='{hide: item.busy != 0}' :key="item.id" v-for="item in this.items">
                    <div class="text">
                        <div class="name">{{item.name}}</div>
                        <div class="teacher">{{item.teacher_one + (item.teacher_two !== null ? " "+item.teacher_two: '')
                            }}
                        </div>
                    </div>
                    <div v-if="!(item.busy != 0)" class="item-buttons">
                        <div @click="chooseLesson(1,0,item.id)" class="lection" title="лекция">Л</div>
                        <div @click="chooseLesson(1,1,item.id)" class="practic" title="практика">П</div>
                    </div>
                </div>
            </div>
            <div class="room-title">Кабинет</div>
            <div v-if='roomOneSelected' class="room-one-selected">
                <div class="text">
                    {{lessonOneRoom}}
                </div>
                <div class="room-buttons">
                    <img @click="removeRoom(1)" src="@/assets/close-button.svg" title="удалить кабинет">
                </div>
            </div>
            <div v-else class="room-one-list nice-scroll">
                <div class="room"
                     :class="{hide: ((room.busy !== 0 && room.id_group != groupId) || room.id == roomTwoId) && !room.multiply }"
                     @click="chooseRoom(1,room.id)" :key="room.id" v-for="room in this.rooms"
                     :title="room.multiply || room.groupsInRoom > 1 ? `${room.groupsInRoom} групп в кабинете` : ''">
                    {{room.name}}{{room.multiply || room.groupsInRoom > 1? `(${room.groupsInRoom})`:''}}
                </div>
            </div>
        </div>


        <div v-if='type != 0 && type != 2 && chooseType == false' class="lesson-two">
            <div class="item-title">Предмет 2</div>
            <div v-if='lessonTwoSelected' class="lesson-two-selected ">
                <div class="item">
                    <div class="text">
                        <div class="name">{{lessonTwoName}}</div>
                        <div class="teacher">{{lessonTwoTeacher}}</div>
                    </div>
                    <div class="item-buttons">
                        <img @click="removeLesson(2)" src="@/assets/close-button.svg" title="удалить предмет">
                    </div>
                </div>
            </div>
            <div v-else-if='type != 4' class="lesson-two-list nice-scroll">
                <div class="item"
                     :class='{hide: item.busy != 0 || (item.solo === 0 && item.id_teacher_one === teacherOneId) || (item.solo == 1 && item.id_teacher_two == teacherOneId) }'
                     :key="item.id" v-for="item in this.items">
                    <div class="text">
                        <div class="name">{{item.name}}</div>
                        <div class="teacher">{{item.teacher_one + (item.teacher_two !== null ? " "+item.teacher_two: '')
                            }}
                        </div>
                    </div>
                    <div class="item-buttons">
                        <div v-if="!(item.busy != 0 || (item.solo == 0 && item.id_teacher_one === teacherOneId) || (item.solo == 1 && item.id_teacher_two == teacherOneId))"
                             @click="chooseLesson(2,1,item.id)" class="practic" title="практика">П
                        </div>
                    </div>
                </div>
            </div>
            <div class="room-title">Кабинет</div>
            <div v-if='roomTwoSelected' class="room-two-selected">
                <div class="text">
                    {{lessonTwoRoom}}
                </div>
                <div class="room-buttons">
                    <img @click="removeRoom(2)" src="@/assets/close-button.svg" title="удалить кабинет">
                </div>
            </div>
            <div v-else class="room-two-list nice-scroll">
                <div class="room" :class="{hide: ((room.busy !== 0 && room.id_group != groupId) || room.id == roomOneId) && !room.multiply}"
                     @click="chooseRoom(2,room.id)" :key="room.id" v-for="room in this.rooms"
                     :title="room.multiply || room.groupsInRoom > 1 ? `${room.groupsInRoom} групп в кабинете` : ''">
                    {{room.name}}{{room.multiply || room.groupsInRoom > 1 ? `(${room.groupsInRoom})`:''}}
                </div>
            </div>
        </div>
        <div v-if="selected" class="buttons">
            <button class="save-lesson-btn" @click="saveLesson">Сохранить пару</button>
            <button class="delete-btn" @click="deleteLesson">Удалить пару</button>
            <button class="cancel" @click="cancel">Отмена</button>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {
        name: 'schedule-editor-bar',
        props: ['groupId', 'groupName', 'lessonNumber', 'day', 'selected', 'updateInfo'],
        data: function () {
            return {
                waitAnswer: false,
                dayName: ['Понедельник', "Вторник", "Среда", "Четверг", "Пятница", "Суббота", "Воскресенье"],
                rooms: [],
                items: [],

                lessonOneSelected: false,
                lessonTwoSelected: false,
                roomOneSelected: false,
                roomTwoSelected: false,

                lessonOneName: 'Основы программирования',
                lessonOneTeacher: 'минайлов к.в.',
                lessonOneRoom: '24',
                lessonOneId: null,
                roomOneId: null,
                teacherOneId: null,

                lessonTwoName: '',
                lessonTwoTeacher: '',
                lessonTwoRoom: '',
                lessonTwoId: null,
                roomTwoId: null,
                teacherTwoId: null,

                chooseType: false,

                type: 0,
            }
        },
        computed: {
            ...mapGetters([
                'GetAlertAnswer',
                'GetWeek',
                'GetSemester',
            ]),
            title() {
                return this.selected ? `${this.groupName}|${this.dayName[this.day - 1]}|${this.lessonNumber} пара` : 'Расписание'
            }

        },
        updated: function () {//это не юнити апдейт, можно не париться - вызывается не часто.
            // eslint-disable-next-line
            $(".nice-scroll").niceScroll({
                cursorcolor: '#b9b9b9',
            });
        },
        mounted() {
            /**
             * Нам сюда поступают id предметов и кабинетов для каждой подгруппы, все предметы этой группы и все кабинеты
             */
            //eslint-disable-next-line
            socket.on('schedule-get-lesson-answer', answer => {
                //eslint-disable-next-line
                console.log(answer);
                if (answer.data['lessonInfo']) {
                    //eslint-disable-next-line
                    console.log("есть установки");
                    this.resetScheduleLessonInfo();//очищаем старые установки
                    this.type = answer.data['lessonInfo']['type'];
                    for (let item of answer.data['items']) {//находим информацию о наших предметах
                        if (item.id === answer.data['lessonInfo']['id_item_p1']) {//если предмет из всех предметов совпал с нашим
                            this.lessonOneId = item.id;
                            this.teacherOneId = item.id_teacher_one;
                            this.lessonOneName = item.name;
                            this.lessonOneTeacher = item.teacher_one;
                            this.lessonOneSelected = true;
                            if (item.solo === 1) {//если это пара с 2 учителями
                                this.teacherTwoId = item.id_teacher_two;
                                this.lessonTwoTeacher = item.teacher_two;
                            }
                        }
                        if (item.id === answer.data['lessonInfo']['id_item_p2']) {//если предмет из всех предметов совпал с нашим
                            this.lessonTwoId = item.id;
                            if (item.solo === 1) {//если это пара с 2 учителями
                                this.teacherTwoId = item.id_teacher_two;
                                this.lessonTwoTeacher = item.teacher_two;
                            } else {
                                this.teacherTwoId = item.id_teacher_one;
                                this.lessonTwoTeacher = item.teacher_one;
                            }
                            this.lessonTwoName = item.name;
                            this.lessonTwoSelected = true;
                        }
                    }
                    for (let room of answer.data['rooms']) { //находим информацию о наших кабинетах
                        if (room.id === answer.data['lessonInfo']['id_room_p1']) {
                            this.roomOneId = room.id;
                            this.lessonOneRoom = room.name;
                            this.roomOneSelected = true;
                        }
                        if (room.id === answer.data['lessonInfo']['id_room_p2']) {
                            this.roomTwoId = room.id;
                            this.lessonTwoRoom = room.name;
                            this.roomTwoSelected = true;
                        }
                    }
                    //устанавливаем "пр"
                    if (this.type === 1) {//если практическая только у 1 подгруппы
                        this.lessonOneName += " пр1"
                    } else if (this.type === 2) {//если практическая только у 2 подгруппы
                        this.lessonOneName += " пр2"
                    } else if (this.type === 3) {//если практическая только у обоих подгруппы
                        this.lessonOneName += " пр1";
                        this.lessonTwoName += " пр2";
                    }

                } else {//пустая пара
                    this.teacherOneId = null;
                    this.roomOneId = null;
                    this.lessonOneId = null;
                    this.lessonOneName = '';
                    this.lessonOneTeacher = '';
                    this.lessonOneRoom = '';
                    this.lessonOneSelected = false;
                    this.roomOneSelected = false;

                    this.teacherTwoId = null;
                    this.roomTwoId = null;
                    this.lessonTwoId = null;
                    this.lessonTwoName = '';
                    this.lessonTwoTeacher = '';
                    this.lessonTwoRoom = '';
                    this.lessonTwoSelected = false;
                    this.roomTwoSelected = false;

                    this.chooseType = false;
                    this.type = 0;
                }
                this.rooms = answer.data['rooms'];//запоминаем комнаты
                this.items = answer.data['items'];//запоминаем предметы
            });
        },
        beforeDestroy() {
            //eslint-disable-next-line
            socket.removeListener('schedule-get-lesson-answer');
        },
        watch: {
            updateInfo: 'loadInfo',
            GetAlertAnswer: 'TakeAlertAnswer'
        },
        methods: {
            deleteLesson() {
                // eslint-disable-next-line
                socket.emit("schedule-delete-lesson", {
                    weekId: this.GetWeek,
                    day: this.day,
                    lessonNumber: this.lessonNumber,
                    groupId: this.groupId,
                });
                this.cancel();
            },
            saveLesson() {
                // eslint-disable-next-line
                console.log("Пытаемся сохранить пару");
                if (this.lessonOneId !== null && this.roomOneId !== null) {
                    // eslint-disable-next-line
                    console.log("TYPE",this.type);
                    if (this.type === 1 && this.lessonTwoId !== null) {//если есть практическая у первой подгруппы и есть что-то у второй
                        this.type = 3;//практика у первой и 2 подгруппы
                    }else if(this.type !== 0 && this.type !== 4){
                        this.type = 1;
                    }
                    // eslint-disable-next-line
                    socket.emit("schedule-set-lesson", {
                        day: this.day,
                        lessonNumber: this.lessonNumber,
                        weekId: this.GetWeek,
                        groupId: this.groupId,
                        lesson: {
                            type: this.type,
                            lessonOne: this.lessonOneId,
                            lessonTwo: this.lessonTwoId,
                            roomOne: this.roomOneId,
                            roomTwo: this.teacherTwoId ? this.roomTwoId : null, // если нет второй пары(пары, где два учителя не всчёт), то и кабинета быть не должно ;)
                            teacherOne: this.teacherOneId,
                            teacherTwo: this.teacherTwoId,
                        }
                    });
                }else if(this.lessonTwoId !== null && this.roomTwoId !== null){//первую пару удалили, но осталась вторая
                    this.type = 2;
                    // eslint-disable-next-line
                    socket.emit("schedule-set-lesson", {
                        day: this.day,
                        lessonNumber: this.lessonNumber,
                        weekId: this.GetWeek,
                        groupId: this.groupId,
                        lesson: {//ставим вторую пару в ячейки первой, ибо type==2
                            type: this.type,
                            lessonOne: this.lessonTwoId,
                            lessonTwo: null,
                            roomOne:  this.lessonTwoId,
                            roomTwo:  null,
                            teacherOne: this.teacherTwoId,
                            teacherTwo: null,
                        }
                    });
                }

            },
            /*
             *  subgroup - подгруппа 1 или 2
             *  type - тип пары; 0 - лекция, 1 - практическая
             *  lessonId - id пары
            */
            chooseLesson(subgroup, type, lessonId) {
                if (subgroup === 2) {//2 подгруппа - только практическая, поэтому просто устанавливаем предмет и кабинет
                    for (let item of this.items) {
                        if (item.id === lessonId) {//нужный предмет найден
                            this.lessonTwoId = lessonId;
                            this.lessonTwoName = item.name + " пр2";
                            this.lessonTwoTeacher = item.teacher_one;
                            this.lessonTwoSelected = true;
                            if (item.solo === 1) {
                                this.lessonTwoTeacher = item.teacher_two;
                                this.teacherTwoId = item.id_teacher_two;
                                if (item.room_two !== null) {
                                    for (let room of this.rooms) {
                                        //eslint-disable-next-line
                                        console.log(room.busy);
                                        if (room.id === item.room_two && room.busy !== 1) {
                                            this.roomTwoId = room.id;
                                            this.lessonTwoRoom = room.name;
                                            this.roomTwoSelected = true;
                                        }
                                    }
                                }
                            } else {
                                this.teacherTwoId = item.id_teacher_one;
                                if (item.room_one !== null) {
                                    for (let room of this.rooms) {
                                        //eslint-disable-next-line
                                        console.log(room.busy);
                                        if (room.id === item.room_one && room.busy !== 1) {
                                            this.roomTwoId = room.id;
                                            this.lessonTwoRoom = room.name;
                                            this.roomTwoSelected = true;
                                        }
                                    }
                                }
                            }
                        }

                    }
                } else if (subgroup == 1) {
                    if (type == 0) {//если лекция
                        this.type = 0;//тип лекции, может замениться на 4, тоже лекция, но с редактированием 2 кабинета
                        /* нужно, чтобы при отправке не было ошибок */
                        this.teacherTwoId = null;
                        this.roomTwoId = null;
                        this.lessonTwoId = null;
                        this.lessonTwoName = '';
                        this.lessonTwoTeacher = '';
                        this.lessonTwoRoom = '';
                        this.lessonTwoSelected = false;
                        this.roomTwoSelected = false;
                        //====
                        for (let item of this.items) {
                            if (item.id == lessonId) {
                                this.teacherOneId = item.id_teacher_one;
                                this.lessonOneId = lessonId;
                                this.lessonOneName = item.name;
                                this.lessonOneTeacher = item.teacher_one;
                                this.lessonOneSelected = true;
                                if (item.solo == 1) {
                                    this.lessonOneTeacher = item.teacher_one + (item.teacher_two !== null ? " " + item.teacher_two : '');
                                    this.type = 4;//нельзя поставить 2 предмет, но 2 кабинет можно!
                                    this.lessonTwoName = '';//на всякий случай
                                    this.lessonTwoTeacher = '';
                                    this.teacherTwoId = item.id_teacher_two;
                                }
                                if (item.room_one !== null) {
                                    for (let room of this.rooms) {
                                        if (room.id == item.room_one && room.busy !== 1) {
                                            this.roomOneId = room.id;
                                            this.lessonOneRoom = room.name;
                                            this.roomOneSelected = true;
                                        }
                                    }
                                }
                                if (item.room_two !== null) {
                                    for (let room of this.rooms) {
                                        if (room.id == item.room_two && room.busy !== 1) {
                                            this.roomTwoId = room.id,
                                                this.lessonTwoRoom = room.name;
                                            this.roomTwoSelected = true;
                                        }
                                    }
                                }
                            }
                        }
                    } else if (type == 1) {//если практическая для 1 подгруппы
                        this.type = 3//предполагаем, что тут 2 пары подгрупп, на самом точная инфа не важна, так как определяем точно при отправке на сервер. Нужно, чтобы отобразить выбор 2 предмета.
                        if (this.lessonTwoId == null) {
                            this.roomTwoId == null;
                            this.lessonTwoRoom = '';
                            this.roomTwoSelected = false;
                        }

                        for (let item of this.items) {
                            if (item.id == lessonId) {
                                this.teacherOneId = item.id_teacher_one;
                                this.lessonOneId = lessonId;
                                this.lessonOneName = item.name;
                                this.lessonOneTeacher = item.teacher_one;
                                this.lessonOneSelected = true;
                                this.chooseType = true;

                                /*if(item.solo == 1){//вставляем 2 учителя, чтобы видно было, потом изменим на учителя нужной подгруппы
                                    this.lessonOneTeacher = item.teacher_one + (item.teacher_two !== null ? " "+item.teacher_two: '');
                                    this.teacherTwoId = item.id_teacher_two;
                                }*///непонятные строки кода, нахуя они нужны?
                                if (item.room_one !== null) {
                                    for (let room of this.rooms) {
                                        if (room.id == item.room_one && room.busy !== 1) {
                                            this.roomOneId = room.id;
                                            this.lessonOneRoom = room.name;
                                            this.roomOneSelected = true;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

            },
            /*
             *  subgroup - подгруппа 1 или 2
             *  roomId - id кабинета
            */
            chooseRoom(subgroup, roomId) {
                if (subgroup == 1) {//если первый слот
                    for (let room of this.rooms) {
                        if (room.id == roomId) {
                            this.roomOneId = room.id;
                            this.lessonOneRoom = room.name;
                            this.roomOneSelected = true;
                        }
                    }
                } else if (subgroup == 2) {//если второй слот
                    for (let room of this.rooms) {
                        if (room.id == roomId) {
                            this.roomTwoId = room.id;
                            this.lessonTwoRoom = room.name;
                            this.roomTwoSelected = true;
                        }
                    }
                }
            },
            removeLesson(subgroup) {//1 or 2
                if (subgroup == 1) {
                    this.teacherOneId = null;
                    this.lessonOneId = null;
                    this.lessonOneName = '';
                    this.lessonOneTeacher = '';
                    this.lessonOneSelected = false;
                } else if (subgroup == 2) {
                    this.teacherTwoId = null;
                    this.lessonTwoId = null;
                    this.lessonTwoName = '';
                    this.lessonTwoTeacher = '';
                    this.lessonTwoSelected = false;
                }
            },
            removeRoom(subgroup) {
                if (subgroup == 1) {
                    this.roomOneId = null;
                    this.lessonOneRoom = '';
                    this.roomOneSelected = false;
                } else if (subgroup == 2) {
                    this.roomTwoId = null;
                    this.lessonTwoRoom = '';
                    this.roomTwoSelected = false;
                }
            },
            chooseLessonType(type) {
                this.type = type;
                this.chooseType = false;
                if (type == 1) {
                    this.lessonOneName += " пр1"
                } else if (type == 2) {//2 подгруппа
                    this.lessonOneName += " пр2"

                    for (let item of this.items) {
                        if (item.id == this.lessonOneId) {
                            if (item.solo == 1) {
                                this.teacherOneId = item.id_teacher_two;
                                this.lessonOneTeacher = item.teacher_two;
                                if (item.room_two != null) {
                                    for (let room of this.rooms) {
                                        if (room.id == item.room_two) {
                                            this.roomOneId = room.id,
                                                this.lessonOneRoom = room.name;
                                            this.roomOneSelected = true;
                                        }
                                    }
                                }
                            } else {
                                break;
                            }
                        }
                    }
                    this.teacherTwoId = null;
                    this.lessonTwoId = null;
                    this.roomTwoId = null;
                    this.lessonTwoName = '';
                    this.lessonTwoTeacher = '';
                    this.lessonTwoRoom = '';
                    this.lessonTwoSelected = false;
                    this.roomTwoSelected = false;
                } else {
                    //eslint-disable-next-line
                    console.error("ERROR TYPE chooseLessonType(type) MAY 1 or 2");
                }
            },
            resetScheduleLessonInfo(){
                this.lessonOneId = null;
                this.roomOneId = null;
                this.teacherOneId = null;
                this.lessonOneName = '';
                this.lessonOneTeacher= '';
                this.lessonOneRoom = '';

                this.lessonTwoId = null;
                this.roomTwoId = null;
                this.teacherTwoId = null;
                this.lessonTwoName = '';
                this.lessonTwoTeacher= '';
                this.lessonTwoRoom = '';

                this.lessonOneSelected = false;
                this.lessonTwoSelected = false;
                this.roomOneSelected = false;
                this.roomTwoSelected = false;

                this.chooseType = false;
                this.type = 0;
            },
            loadInfo() {
                if (this.updateInfo) {

                    // eslint-disable-next-line
                    console.log("Обновляем инфу");
                    this.$emit('updated');
                    // eslint-disable-next-line
                    socket.emit('schedule-get-lesson', {
                        groupId: this.groupId,
                        day: this.day,
                        lessonNumber: this.lessonNumber,
                        weekId: this.GetWeek,
                        semesterId: this.GetSemester
                    });
                }
            },
            cancel() {
                this.chooseType = false,
                    this.$emit('unselect');
            },
        },

    }
</script>

<style>
    /*Основные стили в rightbars/SettingsRooms.vue*/
    .room-one-selected, .room-two-selected {
        display: flex;
        justify-content: space-between;
        border-top: solid 1px #b9b9b9;
        border-bottom: solid 1px #b9b9b9;
        margin-top: 4px;
        margin-bottom: 8px;
        padding: 4px;
    }


    .room-one-selected .text, .room-two-selected .text {
        padding: 2px;
        border: solid 1px #b9b9b9;
    }

    .room-one-selected img, .room-two-selected img {
        width: 16px;
        cursor: pointer;
    }

    .lesson-one .lesson-one-selected, .lesson-two .lesson-two-selected {
        border-top: solid 1px #b9b9b9;
        border-bottom: solid 1px #b9b9b9;
        margin-top: 4px;
        margin-bottom: 8px;
    }

    .lesson-one-selected .item, .lesson-two-selected .item {
        display: flex;
        justify-content: space-between;
    }

    .lesson-one-selected .choose-subgroup {
        display: flex;
        padding: 4px;
    }

    .lesson-one-selected .choose-subgroup div {
        border: solid 1px #b9b9b9;
        padding: 3px;
        margin-right: 8px;
    }

    .lesson-one-selected .choose-subgroup div:hover {
        background-color: #b9b9b9;
        transition: 0.1s;
    }

    .right-bar .lesson-one .lesson-one-selected:hover, .right-bar .lesson-two .lesson-two-selected:hover {
        cursor: default;
    }

    .right-bar .lesson-one .lesson-one-selected img:hover, .right-bar .lesson-two .lesson-two-selected img:hover {
        cursor: pointer;
    }

    .lesson-one .item-title, .lesson-one .room-title, .lesson-two .item-title, .lesson-two .room-title {
        font-size: 18px;
    }

    .right-bar .lesson-one-list .item.hide, .right-bar .lesson-two-list .item.hide {
        background-color: #9f9f9f;
        border-bottom: solid 1px black;
        cursor: no-drop;
    }

    .room-one-list, .room-two-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        border-top: solid 1px #b9b9b9;
        border-bottom: solid 1px #b9b9b9;
        padding: 4px;
        margin-top: 4px;
        margin-bottom: 8px;
        max-height: 100px;
    }

    .room-one-list .room, .room-two-list .room {
        border: solid 1px #b9b9b9;
        padding: 2px;
        margin-bottom: 4px;
        margin-left: 4px;
    }

    .room-one-list .room.hide, .room-two-list .room.hide {
        background: #9f9f9f;
        border: solid 1px black;
    }

    .room-one-list .room:hover, .room-two-list .room:hover {
        background: #b9b9b9;
        cursor: pointer;
        transition: 0.1s;
    }

    .lesson-one-list, .lesson-two-list {
        border-top: solid 1px #b9b9b9;
        border-bottom: solid 1px #b9b9b9;
        margin-top: 4px;
        margin-bottom: 8px;
        max-height: 200px;
    }

    .right-bar .lesson-one-list .item, .right-bar .lesson-two-list .item {
        display: flex;
        justify-content: space-between;
        cursor: default;
    }

    .lesson-one-list .item .item-buttons > div, .lesson-two-list .item .item-buttons > div {
        border: solid 1px #b9b9b9;
        padding: 2px;
        margin-right: 4px;
        cursor: pointer;
    }
</style>