<template>
    <div class="right-bar">
        <div class="title">{{title}}</div>
        <div v-if='!edit && selected' class="description">
            <div class="name">Название:{{this.semesterName}}</div>
        </div>
        <div v-else-if="selected" class="edit">
            <div class="name">Название:<input type="text" v-model="editedName"></div>
        </div>
        <div v-if="selected" class="buttons">
            <button @click="goToSemester">Открыть</button>
            <button class="edit-btn" @click="editOrSave">{{editBtn}}</button>
            <button class="delete-btn" @click="deleteSemester">Удалить семестр</button>
            <button class="cancel" @click="cancel">Отмена</button>
        </div>
        <div v-else-if="create" class="create">
            <div class="name">Название:<input type="text" v-model="editedName"></div>
        </div>
        <div v-if='create' class="buttons-create buttons">
            <button class="create-btn" @click="createSubmit">Создать</button>
            <button class="cancel" @click="cancel">Отмена</button>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
    name: 'semesters-bar',
    props:['semesterName','selected','create','semesterId'],
    data: function () {
        return {
            edit: false,
            editBtn: 'Редактировать',
            waitAnswer: false,
            editedName: this.semesterName,
            
        }  
    },
    computed:{
        ...mapGetters([
            'GetAlertAnswer'
        ]),
        title(){ return this.create ? 'Создание нового семестра' : 'Семестр'}
        
    },
    watch:{
        roomTeachers:'updateTeacherText',
        GetAlertAnswer : 'TakeAlertAnswer'
    },
    methods:{
        goToSemester(){
            this.$store.commit("SetSemester",this.semesterId);
            this.$router.push('/семестры/недели');
        },
        createSubmit(){
            // eslint-disable-next-line
            socket.emit("semesters-create", {
                    'semesterName':this.editedName,
                    });
            this.$emit('unselect');
        },
        editOrSave(){
            if(!this.edit && this.semesterName !== ''){
                this.editedName = this.semesterName;
                this.edit = true;
                this.editBtn = 'Сохранить';
            }else{
                // eslint-disable-next-line
                socket.emit("semesters-update", {
                    'semesterName':this.editedName,
                    'semesterId':this.semesterId,
                    });
                this.edit = false;
                this.editBtn = 'Редактировать';
                this.$emit('updateInfo');
            }
        },
        cancel(){
            if(!this.edit){
                this.roomName = '';
                this.roomTeachers = '';
                this.$emit('unselect');
            }else{
                this.edit = false;
                this.editBtn = 'Редактировать';
                
            }
        },
        deleteSemester(){
            this.$store.commit('ShowAlert', {
                'title':'ВНИМАНИЕ!',
                'message':`ВЫ УВЕРЕНЫ, ЧТО ХОТИТЕ УДАЛИТЬ СЕМЕСТР "${this.semesterName}"?
                ЭТО ПОВЛЕЧЁТ УДАЛЕНИЕ РАСПИСАНИЯ ВСЕГО СЕМЕСТРА.`
            });
            this.waitAnswer = true;
        },
        TakeAlertAnswer(){
            if(this.GetAlertAnswer && this.waitAnswer){//если ответ положительный и мы ждём ответа
                this.waitAnswer = false;
                // eslint-disable-next-line
                socket.emit('semesters-delete', {semesterId:this.semesterId});
                this.$store.commit("TakeAlertAnswer");
            }
            
        },

    },
    
}
</script>

<style >
/*Основные стили в rightbars/SettingsRooms.vue*/
.right-bar .buttons a{
    border: none;
    background: none;
    padding: 1px 6px;
    text-decoration: none;
    color: #222;
    font-size: 18px;
}
</style>