<template>
    <div class="right-bar">
        <div class="title">{{title}}</div>
        <div v-if='!edit && selected' class="description">
            <div class="last-name">Фамилия:{{this.teacherLastName}}</div>
            <div class="first-name">Имя:{{this.teacherFirstName}}</div>
            <div class="father-name">Отчество:{{this.teacherFatherName}}</div>
            <div class="binded">Закреплённый кабинет: {{this.teacherRoomName}}</div>
        </div>
        <div v-else-if="selected" class="edit">
            <div class="last-name">Фамилия:<input type="text" v-model="editedLastName"></div>
            <div class="first-name">Имя:<input type="text" v-model="editedFirstName"></div>
            <div class="father-name">Отчество:<input type="text" v-model="editedFatherName"></div>
            <label>Закреплённый кабинет:
                <select v-model='editedRoomName'>
                    <option value="none" selected>нет</option>
                    <option :key="room.name" v-for="room in this.rooms" :value="room.name">{{room.name}}</option>
                </select>
            </label>
        </div>
        <div v-if="selected" class="buttons">
            <button class="edit-btn" @click="editOrSave">{{editBtn}}</button>
            <button class="delete-btn" @click="deleteTeacher">Удалить учителя</button>
            <button class="cancel" @click="cancel">Отмена</button>
        </div>
        <div v-else-if="create" class="create">
            <div class="last-name">Фамилия:<input type="text" v-model="editedLastName"></div>
            <div class="first-name">Имя:<input type="text" v-model="editedFirstName"></div>
            <div class="father-name">Отчество:<input type="text" v-model="editedFatherName"></div>
            <label>Закреплённый кабинет:
                <select v-model='editedRoomName'>
                    <option :value="null" selected>нет</option>
                    <option :key="room.name" v-for="room in this.rooms" :value="room.name">{{room.name}}</option>
                </select>
            </label>
        </div>
        <div v-if='create' class="buttons-create buttons">
            <button class="create-btn" @click="createSubmit">Создать</button>
            <button class="cancel" @click="cancel">Отмена</button>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {
        name: 'settings-teachers-bar',
        props: ['teacherFirstName', 'teacherLastName', 'teacherFatherName', 'teacherRoomName', 'selected', 'create', 'rooms', 'teacherId'],
        data: function () {
            return {
                edit: false,
                editBtn: 'Редактировать',
                waitAnswer: false,
                editedFirstName: this.teacherFirstName,
                editedLastName: this.teacherLastName,
                editedFatherName: this.teacherFatherName,
                editedRoomName: this.teacherRoomName,


            }
        },
        computed: {
            ...mapGetters([
                'GetAlertAnswer',
                'GetSemester'
            ]),
            title() {
                return this.create ? 'Добавить нового учителя' : 'Учителя'
            }

        },
        watch: {
            roomTeachers: 'updateTeacherText',
            GetAlertAnswer: 'TakeAlertAnswer'
        },
        methods: {
            createSubmit() {
                // eslint-disable-next-line
                socket.emit("settings-teachers-create", {
                    'firstName': this.editedFirstName,
                    'lastName': this.editedLastName,
                    'fatherName': this.editedFatherName,
                    'roomName': this.editedRoomName,
                    semesterId: this.GetSemester,
                });
                this.$emit('unselect');
            },
            editOrSave() {
                if (!this.edit && this.roomName !== '') {//открываем редактирование
                    this.editedFirstName = this.teacherFirstName;
                    this.editedLastName = this.teacherLastName;
                    this.editedFatherName = this.teacherFatherName;
                    this.editedRoomName = this.teacherRoomName;
                    this.edit = true;
                    this.editBtn = 'Сохранить';
                } else {
                    //eslint-disable-next-line
                    console.log(this.editedRoomName);
                    // eslint-disable-next-line
                    socket.emit("settings-teachers-update", {
                        'firstName': this.editedFirstName,
                        'lastName': this.editedLastName,
                        'fatherName': this.editedFatherName,
                        'roomName': this.editedRoomName,
                        'teacherId': this.teacherId,
                        'semesterId':this.GetSemester,
                    });
                    this.edit = false;
                    this.editBtn = 'Редактировать';
                }
            },
            cancel() {
                if (!this.edit) {
                    this.roomName = '';
                    this.roomTeachers = '';
                    this.$emit('unselect');
                } else {
                    this.edit = false;
                    this.editBtn = 'Редактировать';

                }
            },
            updateTeacherText() {
                //eslint-disable-next-line
                console.log(this.roomTeachers);
                this.teachersText = '';
                for (let teacher of this.roomTeachers) {
                    this.teachersText += teacher + " ";
                }
            },
            deleteTeacher() {
                this.$store.commit('ShowAlert', {
                    'title': 'Внимание!',
                    'message': `Вы уверены, что хотите удалить Учителя ${this.teacherLastName} ${this.teacherFirstName[0]}.${this.teacherFatherName[0]}. ?`
                });
                this.waitAnswer = true;
            },
            TakeAlertAnswer() {
                if (this.GetAlertAnswer && this.waitAnswer) {//если ответ положительный и мы ждём ответа
                    this.waitAnswer = false;
                    // eslint-disable-next-line
                    socket.emit('settings-teachers-delete', {teacherId: this.teacherId});
                    this.$store.commit("TakeAlertAnswer");
                }

            }
        },

    }
</script>

<style>
    /*Основные стили в rightbars/SettingsRooms.vue*/
</style>
