<template>
    <div class="right-bar">
        <div class="title">{{title}}</div>
        <div v-if='!edit && selected' class="description">
            <div class="group-name">Группа: {{this.groupName}}</div>

        </div>
        <div v-else-if="selected" class="edit">
            <div class="group-name">Группа: <input type="text" v-model="editedName"></div>
        </div>
        <div v-if='edit || selected' class="items-list nice-scroll">
            <div class="item" :key="item.id" v-for="item in this.items" @click="selectItem(item.id)">
                <div class="item-buttons">
                    <img @click="editItem" src="@/assets/edit.svg" alt="Редактировать предмет">
                    <img @click="deleteItem(item.id,item.name)" src="@/assets/delete.svg" alt="Удалить предмет">
                </div>
                <div class="text">
                    <div class="name">{{item.name}}</div>
                    <div class="teachers">{{item.name_teacher_one+" "+(item.name_teacher_two ?
                        item.name_teacher_two:'')}}
                    </div>
                </div>

            </div>
        </div>
        <button @click="createItem" v-if='edit || selected' class="add-new-item-btn">Добавить новый предмет</button>
        <div v-if='selected && (!itemEdit && !itemCreate && itemSelected)' class="item-description">
            <div class="title">{{this.itemName}}</div>
            <div class="subgroups">Подгруппы: {{this.subgroups}}</div>
            <div class="first-teacher">Первый учитель: {{this.itemTeacherOne}}</div>
            <div v-if="this.itemTeacherTwo" class="second-teacher">Второй учитель: {{this.itemTeacherTwo}}</div>
        </div>
        <div v-else-if="selected && (itemSelected || itemCreate)" class="item-edit">
            <div class="title">{{this.itemEditOrCreateTittle}}</div>
            <div class="name">Название: <input type="text" v-model="itemEditName"></div>
            <div class="subgroups">Подгруппы:
                <select v-model='itemEditSubgroups'>
                    <option :value="false">Нет</option>
                    <option :value="true">Да</option>
                </select>
            </div>
            <div class="first-teacher">Первый учитель:
                <select v-model='itemEditFirstTeacher'>
                    <option :key="teacher.id" v-for="teacher in this.teachers" :value="teacher.id">{{teacher.last_name+
                        " "+teacher.first_name[0]+"."+teacher.father_name[0]+"."}}
                    </option>
                </select>
            </div>
            <div v-if="this.itemEditSubgroups" class="second-teacher">Второй учитель:
                <select v-model='itemEditSecondTeacher'>
                    <option :key="teacher.id" v-for="teacher in this.teachers" :value="teacher.id">{{teacher.last_name+
                        " "+teacher.first_name[0]+"."+teacher.father_name[0]+"."}}
                    </option>
                </select>
            </div>
        </div>
        <div v-if="selected && !itemEdit && !itemCreate" class="buttons">
            <button class="edit-btn" @click="editOrSave">{{editBtn}}</button>
            <button class="delete-btn" @click="deleteGroup">Удалить группу</button>
            <button class="cancel" @click="cancel">Отмена</button>
        </div>
        <div v-else-if="create" class="create">
            <div class="group-name">Группа: <input type="text" v-model="editedName"></div>
        </div>
        <div v-if='create' class="buttons-create buttons">
            <button class="create-btn" @click="createSubmit">Создать</button>
            <button class="cancel" @click="cancel">Отмена</button>
        </div>
        <div v-if="selected && itemEdit" class="item-buttons-edit buttons">
            <button @click="saveItem" class="save-item-btn">Сохранить предмет</button>
            <button @click="cancelItem" class="cancel-item">Отмена</button>
        </div>
        <div class="item-create">

        </div>
        <div v-if='selected && itemCreate' class="item-buttons-create buttons">
            <button @click="submitCreateItem" class="submit-create-item-btn">Создать предмет</button>
            <button @click="cancelItem" class="cancel-item">Отмена</button>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {
        name: 'settings-groups-bar',
        props: ['groupName', 'selected', 'create', 'items', 'groupId', 'teachers'],
        data: function () {
            return {
                edit: false,
                editBtn: 'Редактировать',
                waitAnswer: false,
                editedName: this.groupName,

                itemEditOrCreateTittle: "Редактирование предмета",
                itemName: '',
                itemTeacherOne: '',
                itemTeacherTwo: '',
                itemSelected: false,
                itemSelectedId: null,
                itemEdit: false,
                itemCreate: false,
                itemEditName: '',
                itemEditSubgroups: false,
                itemEditFirstTeacher: null,
                itemEditSecondTeacher: null,
                itemWaitAnswer: false,
                itemToDelete: null,
            }
        },
        computed: {
            ...mapGetters([
                'GetAlertAnswer',
                'GetSemester'
            ]),
            title() {
                return this.create ? 'Добавить новую группу' : 'Группы'
            },
            subgroups() {
                return this.itemTeacherTwo ? "Да" : "Нет";
            }

        },
        watch: {
            roomTeachers: 'updateTeacherText',
            GetAlertAnswer: 'TakeAlertAnswer'
        },
        updated: function () {//это не юнити апдейт, можно не париться - вызывается не часто.
            // eslint-disable-next-line
            $(".nice-scroll").niceScroll({
                cursorcolor: '#b9b9b9',
            });
        },
        methods: {
            createSubmit() {
                // eslint-disable-next-line
                socket.emit("settings-groups-create", {
                    'name': this.editedName,
                    'semesterId': this.GetSemester,
                });
                this.$emit('unselect');
            },
            editOrSave() {
                if (!this.edit /*&& this.groupName !== ''*/) {//открываем редактирование
                    this.editedName = this.groupName;
                    this.edit = true;
                    this.editBtn = 'Сохранить';
                } else {
                    // eslint-disable-next-line
                    socket.emit("settings-groups-update", {
                        'name': this.editedName,
                        'id': this.groupId
                    });
                    this.edit = false;
                    this.editBtn = 'Редактировать';
                    this.$emit('updateInfo');
                }
            },
            cancel() {
                if (!this.edit) {
                    this.cancelItem();
                    this.$emit('unselect');
                } else {
                    this.edit = false;
                    this.editBtn = 'Редактировать';

                }
            },
            deleteGroup() {
                this.$store.commit('ShowAlert', {
                    'title': 'Внимание!',
                    'message': `Вы уверены, что хотите удалить группу "${this.groupName}" ?`
                });
                this.waitAnswer = true;
            },
            TakeAlertAnswer() {
                if (this.GetAlertAnswer && this.waitAnswer) {//если ответ положительный и мы ждём ответа
                    this.waitAnswer = false;
                    // eslint-disable-next-line
                    socket.emit('settings-groups-delete', {id: this.groupId});
                    this.$store.commit("TakeAlertAnswer");

                    this.$emit('unselect');
                } else if (this.GetAlertAnswer && this.itemWaitAnswer) {
                    this.itemWaitAnswer = false;
                    // eslint-disable-next-line
                    socket.emit('settings-items-delete', {itemId: this.itemToDelete});
                    this.itemToDelete = null;
                    this.$store.commit("TakeAlertAnswer");

                    this.cancelItem();
                    this.itemSelected = false;
                    this.itemCreate = false;
                }

            },
            selectItem(id) {
                for (let item of this.items) {
                    if (item.id === id) {
                        this.itemName = item.name;
                        this.itemTeacherOne = item.name_teacher_one;
                        this.itemTeacherTwo = item.name_teacher_two;
                        this.itemSelected = true;
                        this.itemSelectedId = id;

                        this.itemEditName = item.name;
                        this.itemEditFirstTeacher = item.id_teacher_one;
                        this.itemEditSecondTeacher = item.id_teacher_two;
                        this.itemEditSubgroups = item.id_teacher_two !== null ? true : false;
                    }
                }
            },
            editItem() {
                //отменяем редактирование группы, если оно включено
                this.edit = false;
                this.editBtn = 'Редактировать';

                this.itemEditOrCreateTittle = 'Редактирование предмета';
                this.itemEdit = true;
            },
            deleteItem(id, name) {
                this.itemToDelete = id;
                this.$store.commit('ShowAlert', {
                    'title': 'Внимание!',
                    'message': `Вы уверены, что хотите удалить предмет "${name}" ?`
                });
                this.itemWaitAnswer = true;
            },
            createItem() {
                //отменяем редактирование группы, если оно включено
                this.edit = false;
                this.editBtn = 'Редактировать';

                this.itemEdit = false;
                this.itemEditOrCreateTittle = 'Создание нового предмета';
                this.itemEditName = '';
                this.itemEditSubgroups = false;
                this.itemEditFirstTeacher = null;
                this.itemEditSecondTeacher = null;
                this.itemCreate = true;
            },
            saveItem() {
                // eslint-disable-next-line
                socket.emit('settings-items-update', {
                    itemId: this.itemSelectedId,
                    itemName: this.itemEditName,
                    itemTeacherOne: this.itemEditFirstTeacher,
                    itemTeacherTwo: this.itemEditSubgroups ? this.itemEditSecondTeacher : null,
                });
                this.itemEdit = false;
                this.cancelItem();
                this.itemSelected = false;
            },
            cancelItem() {
                this.itemEditName = this.itemName;
                this.itemEditFirstTeacher = null;
                this.itemEditSecondTeacher = null;
                this.itemEditSubgroups = false;
                this.itemEdit = false;
                this.itemCreate = false;
            },
            submitCreateItem() {
                // eslint-disable-next-line
                socket.emit('settings-items-create', {
                    groupId: this.groupId,
                    itemId: this.itemSelectedId,
                    itemName: this.itemEditName,
                    itemTeacherOne: this.itemEditFirstTeacher,
                    itemTeacherTwo: this.itemEditSubgroups ? this.itemEditSecondTeacher : null,
                });
                this.cancelItem();
                this.$emit('updateInfo');
            }

        },

    }
</script>

<style>
    /*Основные стили в rightbars/SettingsRooms.vue*/
    .items-list {
        margin-top: 12px;
        height: 180px;
        overflow: auto;
        border-top: solid 2px #b9b9b9;
    }

    .item {
        border-bottom: solid 1px #b9b9b9;
    }

    .item .name {
        font-size: 14px;
    }

    .item .teachers {
        font-size: 12px;
        margin-top: 4px;
    }

    .item:hover {
        cursor: pointer;
        background-color: #eeeeee;
        transition: 0.3s;
    }

    .add-new-item-btn {
        background-color: #f8f8f8;
        border: none;
        border-top: solid 1px #b9b9b9;
        display: block;
        width: 260px;
        margin-bottom: 12px;
        border-bottom: solid 2px #b9b9b9;
    }

    .item-buttons {
        float: right;
        display: flex;
        align-items: center;
        height: 30px;
        margin-right: 6px;
    }

    .item-buttons img {
        width: 18px;
    }
</style>
