<template>
    <div class="right-bar">
        <div class="title">{{title}}</div>
        <div v-if='!edit && selected' class="description">
            <div class="name">Название:{{this.roomName}}</div>
            <div class="binded">Закреплен за: {{teachersText}}</div>
            <div>Несколько групп: {{canMultiply == 1 ? "Да":"Нет"}}</div>
        </div>
        <div v-else-if="selected" class="edit">
            <div class="name">Название:<input type="text" v-model="editedName"></div>
            <div>Несколько групп:
                <select v-model='editedMultiply'>
                    <option :selected='canMultiply==1' value="1">Да</option>
                    <option :selected='canMultiply==0' value="0">Нет</option>
                </select>
            </div>
            <div class="binded">Закреплен за:</div>
            <div class="teacher" v-bind:key='teacher' v-for="teacher of this.roomTeachers">{{teacher}}</div>
        </div>
        <div v-if="selected" class="buttons">
            <button class="edit-btn" @click="editOrSave">{{editBtn}}</button>
            <button class="delete-btn" @click="deleteRoom">Удалить кабинет</button>
            <button class="cancel" @click="cancel">Отмена</button>
        </div>
        <div v-else-if="create" class="create">
            <div class="name">Название:<input type="text" v-model="editedName"></div>
            <div>Несколько групп:
                <select v-model='editedMultiply'>
                    <option value="1">Да</option>
                    <option selected value="0">Нет</option>
                </select>
            </div>
        </div>
        <div v-if='create' class="buttons-create buttons">
            <button class="create-btn" @click="createSubmit">Создать</button>
            <button class="cancel" @click="cancel">Отмена</button>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {
        name: 'settings-rooms-bar',
        props: ['roomName', 'roomTeachers', 'canMultiply', 'selected', 'create'],
        data: function () {
            return {
                edit: false,
                editBtn: 'Редактировать',
                teachersText: '',
                waitAnswer: false,
                editedName: this.roomName,
                editedMultiply: this.canMultiply,

            }
        },
        computed: {
            ...mapGetters([
                'GetAlertAnswer',
                'GetSemester',
            ]),
            title() {
                return this.create ? 'Создание нового кабинета' : 'Кабинеты'
            }

        },
        watch: {
            roomTeachers: 'updateTeacherText',//зачем оно надо?
            GetAlertAnswer: 'TakeAlertAnswer'
        },
        methods: {
            createSubmit() {
                // eslint-disable-next-line
                socket.emit("settings-rooms-create", {
                    'roomName': this.editedName,
                    'roomMultiply': this.editedMultiply,
                    semesterId: this.GetSemester
                });
                this.$emit('unselect');
            },
            editOrSave() {
                if (!this.edit && this.roomName !== '') {
                    this.editedName = this.roomName;
                    this.editedMultiply = this.canMultiply;
                    this.edit = true;
                    this.editBtn = 'Сохранить';
                } else {
                    // eslint-disable-next-line
                    socket.emit("settings-rooms-update", {
                        'roomName': this.roomName,
                        'editedName': this.editedName,
                        'editedMultiply': this.editedMultiply,
                        semesterId: this.GetSemester
                    });
                    this.edit = false;
                    this.editBtn = 'Редактировать';
                    this.$emit('updateInfo');
                }
            },
            cancel() {
                if (!this.edit) {
                    this.roomName = '';
                    this.roomTeachers = '';
                    this.$emit('unselect');
                } else {
                    this.edit = false;
                    this.editBtn = 'Редактировать';

                }
            },
            updateTeacherText() {
                //eslint-disable-next-line
                console.log(this.roomTeachers);
                this.teachersText = '';
                for (let teacher of this.roomTeachers) {
                    this.teachersText += teacher + " ";
                }
            },
            deleteRoom() {
                this.$store.commit('ShowAlert', {
                    'title': 'Внимание!',
                    'message': 'Вы уверены, что хотите удалить кабинет ' + this.roomName + "?"
                });
                this.waitAnswer = true;
            },
            TakeAlertAnswer() {
                if (this.GetAlertAnswer && this.waitAnswer) {//если ответ положительный и мы ждём ответа
                    this.waitAnswer = false;
                    // eslint-disable-next-line
                    socket.emit('settings-rooms-delete', {roomName: this.roomName,semesterId:this.GetSemester});
                    this.$store.commit("TakeAlertAnswer");
                }

            }
        },

    }
</script>

<style>
    .right-bar {
        background-color: white;
        height: calc(100vh - 40px); /*40px - header, 10 х3*/
        min-width: 260px;
        max-width: 260px;
        border-left: solid 2px #b9b9b9;
    }

    .right-bar .buttons {
        position: absolute;
        bottom: 0;
        border-top: solid 2px #b9b9b9;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        width: 260px;
    }

    .right-bar .buttons button {
        border: none;
        background: none;
    }

    .right-bar .title {
        text-align: center;
        margin-bottom: 10px;
    }
</style>