<template>
    <div class="right-bar">
        <div class="title">{{title}}</div>
        <div v-if='!edit && selected' class="description">
            <div class="start">Начинается: {{this.printDate(this.weekStart)}}</div>
            <div class="end">Заканчивается: {{this.printDate(this.weekEnd)}}</div>
            <div>Опубликована: {{this.weekPublished ? "Да":"Нет"}}</div>
        </div>
        <div v-else-if="selected" class="edit">
            <div class="start">Начинается:
                <button @click="prevWeek">&lt;</button>
                {{this.printDate(this.editedStartDate)}}
                <button @click="nextWeek">&gt;</button>
                Неделя оканчивается:
                <label><input type="radio" name="weekEnd" :value="0" v-model="editedWeekEnd"/>Пятницей</label>
                <label><input type="radio" name="weekEnd" :value="1" v-model="editedWeekEnd"/>Субботой</label>
                <label><input type="radio" name="weekEnd" :value="2" v-model="editedWeekEnd"/>Воскресеньем</label>
            </div>
            <div class="end">Заканчивается: {{this.printDate(this.editedEndDate)}}</div>
        </div>
        <div v-if="selected" class="buttons">
            <button class="go-to-edit-btn" @click="goToScheduleEditor">Открыть</button>
            <button class="edit-btn" @click="editOrSave">{{editBtn}}</button>
            <button class="publish-btn" @click="preparingPublishSchedule">Подготовка к публикации</button>
            <button v-if="weekPublished" class="export-excel-btn" @click="exportExcel(false)">Экспорт в Excel</button>
            <button v-if="weekPublished" class="export-excel-btn" @click="exportExcel(true)">Экспорт в Excel(заново)</button>
            <button class="delete-btn" @click="deleteRoom">Удалить неделю</button>
            <button class="cancel" @click="cancel">Отмена</button>
        </div>
        <div v-else-if="create" class="create">
            <div class="start">Начинается:
                <button @click="prevWeek">&lt;</button>
                {{this.printDate(this.editedStartDate)}}
                <button @click="nextWeek">&gt;</button>
                Неделя оканчивается:
                <label><input type="radio" name="weekEnd" :value="0" v-model="editedWeekEnd"/>Пятницей</label>
                <label><input type="radio" name="weekEnd" :value="1" v-model="editedWeekEnd"/>Субботой</label>
                <label><input type="radio" name="weekEnd" :value="2" v-model="editedWeekEnd"/>Воскресеньем</label>
            </div>
            <div class="end">Заканчивается: {{this.printDate(this.editedEndDate)}}</div>
        </div>
        <div v-if='create' class="buttons-create buttons">
            <button class="create-btn" @click="createSubmit">Создать</button>
            <button class="cancel" @click="cancel">Отмена</button>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {create} from 'domain';

    export default {
        name: 'weeks-bar',
        props: ['weekStart', 'weekEnd', 'weekPublished', 'weekId', 'selected', 'create'],
        data: function () {
            return {
                edit: false,
                editBtn: 'Редактировать',
                teachersText: '',
                waitAnswer: false,
                editedStartDate: this.weekStart,
                editedEndDate: this.weekEnd,
                editedWeekEnd: 0,
            }
        },
        computed: {
            ...mapGetters([
                'GetAlertAnswer',
                'GetSemester',
                'dateToDatabase'
            ]),
            title() {
                return this.create ? 'Создание новой недели' : 'Неделя'
            }

        },
        watch: {
            GetAlertAnswer: 'TakeAlertAnswer',
            create: 'createSetEditedDates'
        },
        created(){
            // eslint-disable-next-line
            socket.on("weeks-download-excel-answer", answer => {
                // eslint-disable-next-line
                console.log(answer);
                if (!answer.error) {
                    setTimeout(()=>{
                        this.$http({
                            method: 'get',
                            url: answer.data.link,
                            responseType: 'arraybuffer'
                        })
                            .then(response => {
                                this.downloadExcel(response)
                            })//eslint-disable-next-line
                            .catch(() => console.log('error occured'))
                    },1000);

                }
            });
        },
        beforeDestroy(){
            //eslint-disable-next-line
            socket.removeListener('weeks-download-excel-answer');
        },
        methods: {
            openWeek() {
                let endDate = new Date(this.weekEnd);
                let startDate = new Date(this.weekStart);
                endDate.setDate(endDate.getDate() - startDate.getDate());
                this.$store.commit('SetWeekDays', endDate.getDate() + 1);//дни включительно
                this.$store.commit('SetWeek', this.weekId);
                this.$store.commit('ResetRowsHeight');
            },
            goToScheduleEditor() {
                this.openWeek();
                this.$router.push("/редактор-расписания");
            },
            createSetEditedDates() {
                if (create) {
                    let tempDate = new Date();
                    tempDate.setDate(tempDate.getDate() + (Math.abs(tempDate.getDay() - 8)))//устанавливаем понедельник следующей недели
                    this.editedStartDate = tempDate.toString();
                    tempDate.setDate(tempDate.getDate() + 4);
                    this.editedEndDate = tempDate.toString();
                    this.editedSaturday = false;
                    this.editedSunday = false;
                }
            },
            createSubmit() {
                let start = this.dateToDatabase(this.editedStartDate);
                let end = this.dateToDatabase(this.editedEndDate);
                // eslint-disable-next-line
                socket.emit("weeks-create", {
                    'start': start,
                    'end': end,
                    'semesterId': this.GetSemester
                });
                this.$emit('unselect');
            },
            editOrSave() {
                if (!this.edit && this.weekStart != '') {
                    let tempDate = new Date();
                    tempDate.setDate(tempDate.getDate() + (Math.abs(tempDate.getDay() - 8)))//устанавливаем понедельник следующей недели
                    this.editedStartDate = tempDate.toString();
                    tempDate.setDate(tempDate.getDate() + 4);
                    this.editedEndDate = tempDate.toString();
                    this.editedSaturday = false;
                    this.editedSunday = false;
                    this.edit = true;
                    this.editBtn = 'Сохранить';
                } else {
                    let start = this.dateToDatabase(this.editedStartDate);
                    let end = this.dateToDatabase(this.editedEndDate);
                    // eslint-disable-next-line
                    socket.emit("weeks-update", {
                        'start': start,
                        'end': end,
                        'weekId': this.weekId,
                        'semesterId': this.GetSemester
                    });
                    this.edit = false;
                    this.editBtn = 'Редактировать';
                    this.$emit('updateInfo');
                }
            },
            cancel() {
                if (!this.edit) {
                    this.roomName = '';
                    this.roomTeachers = '';
                    this.$emit('unselect');
                } else {
                    this.edit = false;
                    this.editBtn = 'Редактировать';

                }
            },
            deleteRoom() {
                this.$store.commit('ShowAlert', {
                    'title': 'Внимание!',
                    'message': `Вы уверены, что хотите удалить неделю ${this.weekName(this.weekStart, this.weekEnd)}?`
                });
                this.waitAnswer = true;
            },
            TakeAlertAnswer() {
                if (this.GetAlertAnswer && this.waitAnswer) {//если ответ положительный и мы ждём ответа
                    this.waitAnswer = false;
                    // eslint-disable-next-line
                    socket.emit('weeks-delete', {weekId: this.weekId, semesterId: this.semesterId});
                    this.$store.commit("TakeAlertAnswer");
                }

            },
            printDate(datetime) {//выдаёт имя для недели, основываясь на дате её начала и конца
                let date = new Date(datetime);
                return `${date.getDate()}.${date.getMonth() + 1}.${date.getFullYear()}`;
            },
            nextWeek() {
                let nextWeek = new Date(this.editedStartDate);
                nextWeek.setDate(nextWeek.getDate() + 7);
                this.editedStartDate = nextWeek.toString();

                nextWeek.setDate(nextWeek.getDate() + 4 + this.editedWeekEnd);
                this.editedEndDate = nextWeek.toString();
            },
            prevWeek() {
                let prevWeek = new Date(this.editedStartDate);
                prevWeek.setDate(prevWeek.getDate() - 7);
                this.editedStartDate = prevWeek.toString();

                prevWeek.setDate(prevWeek.getDate() + 4 + this.editedWeekEnd);
                this.editedEndDate = prevWeek.toString();
            },
            weekName(start, end) {//выдаёт имя для недели, основываясь на дате её начала и конца
                let startDate = new Date(start);
                let endDate = new Date(end);
                return `C ${startDate.getDate()}.${startDate.getMonth() + 1}.${startDate.getFullYear()} По ${endDate.getDate()}.${endDate.getMonth() + 1}.${endDate.getFullYear()}`;
            },
            preparingPublishSchedule() {
                this.openWeek();
                this.$router.push("/расписание-анализ");
            },
            exportExcel(regenerate = false) {
                // eslint-disable-next-line
                socket.emit("weeks-download-excel", {
                    weekId: this.weekId,
                    semesterId: this.GetSemester,
                    regenerate: regenerate
                });
            },

            downloadExcel(response) {
                //eslint-disable-next-line
                console.log(response);
                const url = window.URL.createObjectURL(new Blob([response.data]));
                const link = document.createElement('a');
                link.href = url;
                link.setAttribute('download', 'schedule.xlsx'); //or any other extension
                document.body.appendChild(link);
                link.click()
            }
        },

    }
</script>

<style>
    /*Основные стили в rightbars/SettingsRooms.vue*/
    label {
        display: block;
    }
</style>