<template>
    <div class="auth">

        <div class="auth-block">
            <h1>Авторизация</h1>
            <div class="email-title">Эл. почта </div>
            <input class="email" v-model="email" type="text">
            <div class="pass-title">Пароль </div>
            <input class="pass" v-model="pass" type="password">
            <button class="auth-btn" v-on:click="auth_btn">Войти</button>
            <button class="restore-pass">Восстановление пароля</button>
        </div>
    </div>
</template>

<script>
    export default{
        name:'auth',
        data: function () {
            return{
                email: "",
                pass: "",
                status:"",
            }
        },
        methods: {
            auth_btn() {
                //eslint-disable-next-line
                socket.emit('auth-log', {email: this.email, pass: this.pass});
            }
            
        }
    }
</script>

<style>
    .auth {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .auth .auth-block {
        display: flex;
        flex-direction: column;
        width: 300px;
        text-align: left;
        background-color: #343131;
        box-shadow: black 10px 10px 4px;
        color: white;
        font-size: 18px;
        padding: 10px 8px;
    }
    .auth .auth-block h1 {
        font-size: 24px;
        margin-bottom: 24px;
        text-align: center;
    }
    .auth .auth-block .pass-title,.email-title{
        margin-bottom: 8px;
        font-size: 18px;
    }
    .auth .auth-block input {
        background: none;
        border: none;
        border-bottom: solid 4px white;
        margin-bottom: 12px;
        color: white;
    }
    .auth .auth-block button {
        background: none;
        display: block;
        color: white;
        border: none;
    }
    .auth .auth-block .auth-btn{
        margin-top: 24px;
        margin-bottom: 8px;
        font-size: 24px;
    }
    .auth .auth-block .restore-pass{
        font-size: 14px;
    }
    
</style>