<template>
    <div class="help">
        <div class="title">Помощь</div>
        <a name="1"></a>
        <div class="semesters">
            <h2>Семестры</h2>
            <div class="description">
                Главный раздел всего расписания, так как содержит в себе всё расписание за семестр, а также настройки групп, учителей, кабинетов и экспорта.<br/>
                Семестры обладают лишь названием, которое может быть любым, но мы советуем придерживаться шаблона:<br/>
                [номер семестра] семестр [учебные года] года<br/>
                Например, 1 семестр 2019-2020 года
            </div>
        </div>
        <a name="2"></a>
        <div class="weeks">
            <h2>Недели</h2>
            <div class="description">
                Недели содержат в себе расписание. У каждой недели есть дата начала и окончания, вам также предоставлен выбор, каким днём недели она окончится (пятницей, субботой, воскресеньем).<br/>
                Недели могут быть опубликованы или нет. После публикации недели она становится общедоступной (но сайта для просмотра пока нет), а также появляется возможность экспортировать расписание в Excel.
            </div>
        </div>
        <a name="3"></a>
        <div class="schedule-editor">
            <h2>Редактор расписания</h2>
            <div class="description">
                Внимание! Перед началом создания расписания убедитесь, что все предварительные настройки сделаны.
                Редактор состоит из списка групп и расписания открытых групп.<br/>
                <img src="/files/help/schedule-editor.png" ><br/>
                При клике на любую пару откроется правое меню с возможностью изменить расписание пары.
            </div>
        </div>
        <a name="4"></a>
        <div >
            <h2>Как создать предмет с двумя учителями?</h2>
            <div class="description">
                1. Зайдите настройки группы, для которой нужно создать такой предмет<br/>
                2. Начните редактировать уже существующий предмет или создайте новый<br/>
                3. Выберите в пункте подгруппы "Да"<br/>
                4. Укажите первого и второго учителя<br/>
                5. Сохраните предмет<br/>
                Теперь при выборе лекции этого предмета, будут устанавливаться сразу два учителя.
            </div>
        </div>

        <a name="5"></a>
        <div >
            <h2>Как закрепить кабинет за учителем?</h2>
            <div class="description">
                1. Зайдите настройки учителей<br/>
                2. Выберите нужного учителя или создайте нового<br/>
                3. Выберите в списке "Закреплённый кабинет" название нужного кабинета<br/>
                4. Сохраните учителя<br/>
                Теперь при выборе учителя в расписании по возможности сразу будет устанавливаться и закрепленный за ним кабинет.
            </div>
        </div>

        <a name="6"></a>
        <div >
            <h2>Как разрешить ставить несколько групп в один кабинет?</h2>
            <div class="description">
                Существуют кабинеты, в которых могут заниматься сразу несколько групп, например спортзал, поэтому для таких случаев существует особая настройка.
                1. Зайдите настройки кабинетов<br/>
                2. Выберите нужный кабинет или создайте новый<br/>
                3. Установите в поле "Несколько групп" значение "Да"<br/>
                4. Сохраните кабинет<br/>
                Теперь в кабинет можно установить больше одной группы без предупреждений, также в списке кабинетов будет указываться, сколько групп уже находится в этом кабинете.
            </div>
        </div>

        <a name="7"></a>
        <div>
            <h2>Как добавить замещающего учителя?</h2>
            <div class="description">
                <p>Сейчас нет полноценной системы замещающих учителей, однако эмулировать её можно другим способом.</p>
                1. Зайдите настройки группы, для которой нужно создать такой предмет<br/>
                2. Создайте новый предмет с тем же названием, но в поле учителя выберите замещающего<br/>
                3. Сохраните предмет<br/>
                Теперь у вас есть два предмета с замещающим учителем и без, однако будьте внимательны при выборе предмета.
            </div>
        </div>

        <a name="8"></a>
        <div>
            <h2>Настройки</h2>
            <div class="description">
                Настройки устанавливаются на один семестр (вскоре мы добавим возможность их скопировать с предыдущего),
                поэтому, чтобы их увидеть нужно сначала открыть любой из семестров.
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: "help",
        data() {
            return {
                reportText:''
            }
        },
        created() {

        },
        beforeDestroy(){

        },
        methods: {
            sendReport(){
                //eslint-disable-next-line
                socket.emit('reports-send',{message:this.reportText});
                this.reportText = '';
            }
        }
    }
</script>

<style>
    .help {
        max-height: calc(100vh - 50px);
        width: 100%;
        overflow: auto;
        padding: 4px;
    }

    .help .title{
        font-size: 22px;
        margin-bottom: 8px;
    }
    .help .description{
        font-size: 16px;
        color: #777272;
        margin-bottom: 16px;
    }
    .help h2{
        font-weight: bold;
        margin-bottom: 4px;
    }
</style>