<template>
    <div class="page">
        <alert/>
        <page-header :email="this.email"/>
        <div class="main-block">
            <sidebar/>
            <router-view/>
        </div>
    </div>
</template>

<script>
import Sidebar from "@/components/Sidebar.vue";
import PageHeader from "@/components/PageHeader.vue";
import Alert from "@/components/Alert.vue";
export default {
    name: 'page',
    components: {
        Sidebar,
        PageHeader,
        Alert
    },
    props:["email"]
    
}
</script>

<style scoped>
.main-block{
    display: flex;
}
</style>