<template>
    <div class="report">
        <div class="title">Сообщить об ошибке</div>
        <div class="description">
            Помните, что сайт находится в стадии разработки, поэтому нам важно знать о возникающих ошибках в его работе.<br/>
            Пока мы не имеем возможности ответить вам, но мы читаем все сообщения, что нам приходят
        </div>
        <textarea v-model="reportText" cols="30" rows="10" placeholder="Опишите возникшую ситуацию..."></textarea>
        <button @click="sendReport">Отправить</button>
    </div>
</template>

<script>

    export default {
        name: "report",
        data() {
            return {
                reportText:''
            }
        },
        created() {

        },
        beforeDestroy(){

        },
        methods: {
            sendReport(){
                //eslint-disable-next-line
                socket.emit('reports-send',{message:this.reportText});
                this.reportText = '';
            }
        }
    }
</script>

<style>
    .report {
        max-height: calc(100vh - 40px);
        width: 100%;
        overflow: auto;
        padding: 4px;
    }

    .report .title{
        font-size: 22px;
        margin-bottom: 8px;
    }
    .report .description{
        font-size: 16px;
        color: #777272;
        margin-bottom: 4px;
    }
    .report button{
        display: block;
        margin-top: 8px;
    }
</style>