<template>
    <div class="schedule-rooms">
        {{hoverDay}} {{hoverLesson}} {{hoverRoomNum}}
        <table>
            <tbody>
            <tr class="title">
                <td>Кабинет ↓</td>
                <td colspan="6">Понедельник</td>
                <td colspan="6">Вторник</td>
                <td colspan="6">Среда</td>
                <td colspan="6">Четверг</td>
                <td colspan="6">Пятница</td>
                <td colspan="6">Суббота</td>
                <td colspan="6">Воскресенье</td>
            </tr>
            <tr>
                <td>Пара →</td>
                <td v-for="i in 6" :key="i+'pon'">{{i}}</td>
                <td v-for="i in 6" :key="i+'vtor'">{{i}}</td>
                <td v-for="i in 6" :key="i+'sred'">{{i}}</td>
                <td v-for="i in 6" :key="i+'chet'">{{i}}</td>
                <td v-for="i in 6" :key="i+'pyat'">{{i}}</td>
                <td v-for="i in 6" :key="i+'subb'">{{i}}</td>
                <td v-for="i in 6" :key="i+'voskr'">{{i}}</td>
            </tr>
            <tr v-for="roomNum in roomsBusy[1][1].length" :key="'roomNum-'+roomNum">
                <td>{{roomsBusy[1][1][roomNum-1].name}}</td>
                <td v-for="lesson in 6" :key="'lesson_pon-'+lesson" :class="{hover: getHover(1,lesson,roomNum-1)}" @mouseenter="changeHover(1,lesson,roomNum-1)">
                    {{roomsBusy[1][lesson][roomNum-1].busy === 0 ? "" :
                    "✓"}}
                </td>
                <td v-for="lesson in 6" :key="'lesson_vtor-'+lesson" :class="{hover: getHover(2,lesson,roomNum-1)}" @mouseenter="changeHover(2,lesson,roomNum-1)">{{roomsBusy[2][lesson][roomNum-1].busy === 0 ? "" :
                    "✓"}}
                </td>
                <td v-for="lesson in 6" :key="'lesson_sred-'+lesson" :class="{hover: getHover(3,lesson,roomNum-1)}" @mouseenter="changeHover(3,lesson,roomNum-1)">{{roomsBusy[3][lesson][roomNum-1].busy === 0 ? "" :
                    "✓"}}
                </td>
                <td v-for="lesson in 6" :key="'lesson_chet-'+lesson" :class="{hover: getHover(4,lesson,roomNum-1)}" @mouseenter="changeHover(4,lesson,roomNum-1)">{{roomsBusy[4][lesson][roomNum-1].busy === 0 ? "" :
                    "✓"}}
                </td>
                <td v-for="lesson in 6" :key="'lesson_pyat-'+lesson" :class="{hover: getHover(5,lesson,roomNum-1)}" @mouseenter="changeHover(5,lesson,roomNum-1)">{{roomsBusy[5][lesson][roomNum-1].busy === 0 ? "" :
                    "✓"}}
                </td>
                <td v-for="lesson in 6" :key="'lesson_subb-'+lesson" :class="{hover: getHover(6,lesson,roomNum-1)}" @mouseenter="changeHover(6,lesson,roomNum-1)">{{roomsBusy[6][lesson][roomNum-1].busy === 0 ? "" :
                    "✓"}}
                </td>
                <td v-for="lesson in 6" :key="'lesson_voskr-'+lesson" :class="{hover: getHover(7,lesson,roomNum-1)}" @mouseenter="changeHover(7,lesson,roomNum-1)">{{roomsBusy[7][lesson][roomNum-1].busy === 0 ? ""
                    : "✓"}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import {mapGetters} from "vuex"

    export default {
        name: "schedule-rooms",
        data() {
            return {
                roomsBusy: {},

                hoverDay: null,
                hoverLesson: null,
                hoverRoomNum: null,
            }
        },
        computed: {...mapGetters(['GetSemester', "GetWeek"])},
        created() {
            //eslint-disable-next-line
            socket.on("schedule-get-rooms-busy-answer", answer => {
                //eslint-disable-next-line
                console.log(answer);
                this.roomsBusy = answer.data;
            });
            //eslint-disable-next-line
            socket.emit("schedule-get-rooms-busy", {weekId: this.GetWeek, semesterId: this.GetSemester});
        },
        beforeDestroy(){
            //eslint-disable-next-line
            socket.removeListener('schedule-get-rooms-busy-answer');
        },
        methods: {
            getHover(day,lesson,roomNum){
                return  ( ( (lesson <= this.hoverLesson && day === this.hoverDay) || day < this.hoverDay) &&  this.hoverRoomNum === roomNum) || (lesson ===  this.hoverLesson && roomNum <=  this.hoverRoomNum && day === this.hoverDay)
            },
            changeHover(day, lesson, roomNum) {
                this.hoverDay = day;
                this.hoverLesson = lesson;
                this.hoverRoomNum = roomNum;
            }
        }
    }
</script>

<style>
    .schedule-rooms {
        max-height: calc(100vh - 40px);
        width: 100%;
        overflow: auto;
    }

    .schedule-rooms td {
        border: solid 1px #4b4747;
        padding: 4px;
        text-align: center;
    }

    .schedule-rooms td.hover {
        cursor: default;
        background-color: #c5c5c5;
    }

    .schedule-rooms .title > td {
        min-width: 120px;
    }
</style>