<template>
    <div class="schedule-analysis">
        <div class="top">
            <div class="title">Анализ составленного расписания</div>
            <div class="analysis-empty-days">
                <div class="title">Пустые дни недели</div>
                <div class="message error" v-for="group in emptyDays" :key="'emptyGroups-'+group.name">У группы
                    {{group.groupName}} нет расписания в
                    [<span v-for="dayNum in group.days" :key="'emptyGroupsSub'+group.name+'-'+dayNum">{{numberToDayOfWeek(dayNum)}}, </span>]
                </div>
            </div>
            <div class="analysis-subgroups-lessons-count">
                <div class="title">Кол-во пар</div>
                <div class="message warning" v-for="group in subgroupsLessonsCount"
                     :key="'subLesCount-'+group.groupName">Группа {{group.groupName}}:
                    <div v-for="error in group.days" class="sub-message"
                         :key="'subLesCountSub-'+group.groupName+'-'+error.dayNumber+'-'+error.subgroup">{{numberToDayOfWeek(error.dayNumber)}} -
                        {{error.subgroup}} подгруппа - {{error.countLessons}} пар
                    </div>
                </div>
            </div>
            <div class="analysis-groups-in-rooms">
                <div class="title">Кол-во групп в кабинетах</div>
                <div class="message warning" v-for="room in groupsInRooms" :key="'grInRm-'+room.roomName">Кабинет
                    {{room.roomName}}
                    <div v-for="(day,index) in room['days']" class="sub-message" :key="'grInRmDay-'+'-'+room.roomName+index">
                        <div v-for="lesson in day" class="sub-message" :key="'grInRmLesson-'+room.roomName+'-'+lesson.dayNumber+'-'+lesson.lesson">
                            {{numberToDayOfWeek(lesson.dayNumber)}} - {{lesson.lesson}} пара - {{lesson.groupsInRoom}} группы в кабинете
                        </div>
                    </div>
                </div>
            </div>
            <div class="analysis-schedule-windows">
                <div class="title">Наличие "окон" в расписании</div>
                <div class="message error" v-for="window in scheduleWindows" :key="'scWin-'+window.groupName">Группа {{window.groupName}}
                    <div v-for="(day,index) in window['days']" class="sub-message" :key="'scWinDay-'+window.groupName+'-'+index">
                        <div v-for="win in day" class="sub-message" :key="'scWinWin-'+window.groupName+'-'+win.dayNumber+'-'+win.subgroup">
                            {{numberToDayOfWeek(win.dayNumber)}} - {{win.subgroup}} подгруппа - {{win.lesson}} пара
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="left">
                <div class="warnings">
                    Предупреждений: {{warningsCount}}
                </div>
                <div class="errors">
                    Ошибок: {{errorsCount}}
                </div>
            </div>
            <div class="right">
                <button @click="cancelPublish">Отмена</button>
                <button @click="publish">Опубликовать</button>
            </div>

        </div>
    </div>
</template>

<script>
    //import $ from "jquery";

    import {mapGetters, mapMutations} from 'vuex';

    export default {
        name: 'schedule-analysis',
        data() {
            return {
                warningsCount: 0,
                errorsCount: 0,
                emptyDays: {},
                subgroupsLessonsCount: {},
                groupsInRooms: {},
                scheduleWindows: {},
            }
        },
        components: {},
        computed: {
            ...mapGetters([
                'GetWeekDays',
                'GetSemester',
                'GetWeek',
            ]),
        },
        created() {
            //eslint-disable-next-line
            socket.once("analysis-empty-days-answer", answer => {
                //eslint-disable-next-line
                console.log("Analysis Empty Days", answer);
                if (!answer.error) {
                    this.errorsCount += Object.keys(answer.data).length;
                    this.emptyDays = answer.data;
                }
            });
            //eslint-disable-next-line
            socket.emit("analysis-empty-days", {semesterId: this.GetSemester, weekId: this.GetWeek});

            //eslint-disable-next-line
            socket.once("analysis-subgroups-lessons-count-answer", answer => {
                //eslint-disable-next-line
                console.log("Analysis Subgroups Lessons count", answer);
                if (!answer.error) {
                    this.warningsCount += Object.keys(answer.data).length;
                    this.subgroupsLessonsCount = answer.data;
                }
            });
            //eslint-disable-next-line
            socket.emit("analysis-subgroups-lessons-count", {semesterId: this.GetSemester, weekId: this.GetWeek});

            //eslint-disable-next-line
            socket.once("analysis-groups-in-rooms-answer", answer => {
                //eslint-disable-next-line
                console.log("analysis-groups-in-rooms", answer);
                if (!answer.error) {
                    this.warningsCount += Object.keys(answer.data).length;
                    this.groupsInRooms = answer.data;
                }
            });
            //eslint-disable-next-line
            socket.emit("analysis-groups-in-rooms", {semesterId: this.GetSemester, weekId: this.GetWeek});

            //eslint-disable-next-line
            socket.once("analysis-schedule-windows-answer", answer => {
                //eslint-disable-next-line
                console.log("analysis-schedule-windows", answer);
                if (!answer.error) {
                    this.errorsCount += Object.keys(answer.data).length;
                    this.scheduleWindows = answer.data;
                }
            });
            //eslint-disable-next-line
            socket.emit("analysis-schedule-windows", {weekId: this.GetWeek});
        },
        mounted() {


        },
        beforeDestroy() {

        },
        methods: {
            ...mapMutations(['ResetRowsHeight', 'ClearOpenGroups']),
            numberToDayOfWeek(num) {
                switch (""+num) {
                    case "1":
                        return "Понедельник";
                    case "2":
                        return "Вторник";
                    case "3":
                        return "Среда";
                    case "4":
                        return "Четверг";
                    case "5":
                        return "Пятница";
                    case "6":
                        return "Суббота";
                    case "7":
                        return "Воскресенье";
                    default:
                        return null;
                }
            },
            cancelPublish(){
                this.$router.push("/семестры/недели");
            },
            publish(){
                //eslint-disable-next-line
                socket.once("schedule-publish-answer",answer=>{
                    //eslint-disable-next-line
                    console.log(answer);
                    if(!answer.error){
                        this.$router.push("/семестры/недели");
                    }
                });
                //eslint-disable-next-line
                socket.emit("schedule-publish",{weekId:this.GetWeek});
            }
        }
    }
</script>

<style scoped>
    .schedule-analysis .error {
        color: #980a0a;
    }

    .schedule-analysis .error > .sub-message {
        color: #800a0a;
    }

    .schedule-analysis .warning {
        color: #cc890e;
    }

    .schedule-analysis .warning > .sub-message {
        color: #ab6b0d;
    }

    .schedule-analysis {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .schedule-analysis .bottom {
        background-color: #312f2f;
        display: flex;
        justify-content: space-between;
        padding: 8px;
        box-sizing: border-box;
        color: white;
        align-items: center;
    }

    .schedule-analysis .bottom button {
        border: none;
        background: none;
        color: white;
    }

    .schedule-analysis .bottom .left .warnings {
        color: #cc890e;
        margin-bottom: 4px;
    }

    .schedule-analysis .bottom .left .errors {
        color: #980a0a;
    }

    .schedule-analysis .top {
        padding-left: 8px;
        overflow: auto;
        height: calc(100vh - 92px); /*header and .bottom*/

    }

    .schedule-analysis .top .title {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .schedule-analysis .top div {
        margin-bottom: 8px;
    }

    .schedule-analysis .top div > .title {
        font-size: 18px;
        border-left: solid 1px;
        padding-left: 4px;
        margin-bottom: 8px;
    }

    .schedule-analysis .top div > .message {
        padding-left: 16px;
    }

    .schedule-analysis .top div > .message > .sub-message {
        margin-top: 4px;
        padding-left: 24px;
    }

</style>