<template>
    <div class="schedule-editor">   
        <div class="schedule-content">
            <div class="schedules">
                <group-schedule :key="schedule.id" v-for="schedule in this.schedules" :name='schedule.name' status='не готово' :days='GetWeekDays' :group-id='schedule.id' @close-schedule='closeSchedule' @open-lesson='openLesson' :exeption-group='selectedGroup' :updateRowsHeight="updateRowsHeight"/>
            </div>
            <div class="add-new-group-block">
                <div @click="showGroupsList" class="add-group-btn"><img src="@/assets/add.svg"></div>
                <groups-list v-if='this.groupsListShow' v-on:close='closeGroupsList' @add-group='addGroup'/>
            </div>
        </div>
        <schedule-editor-bar :update-info='updateInfo' @updated='updatedRightBar' :group-id='selectedGroup'  :group-name="groupName" :lesson-number='lessonNumber' :day='day' :selected='selected' @unselect='unselectLesson'/>
    </div>
</template>

<script>
//import $ from "jquery";

import { mapGetters,mapMutations } from 'vuex';
import ScheduleEditorBar from "@/components/rightbars/ScheduleEditor.vue";
import GroupsList from "@/components/GroupsList.vue";
import GroupSchedule from "@/components/GroupSchedule.vue";
export default {
    name: 'schedule-editor',
    data(){
        return{
            groupsListShow:false,
            schedules:[],
            selected: false,
            selectedGroup : -1,
            groupName: '',
            day: -1,
            lessonNumber: -1,
            updateInfo: false,

            updateRowsHeight: 0
        }
    },
    components:{
        ScheduleEditorBar,
        GroupsList,
        GroupSchedule,
    },
    computed:{
        ...mapGetters([
            'GetWeekDays',
            'GetSemester',
        ]),
    },
    created(){
        this.ClearOpenGroups();//очищаем список открытых групп
        //eslint-disable-next-line
        console.log('schedule-get-groups');
        //eslint-disable-next-line
        socket.emit("schedule-get-groups",{semesterId:this.GetSemester});//получаем список групп

        //eslint-disable-next-line
        socket.on("schedule-get-groups-answer", answer =>{
            //eslint-disable-next-line
            console.log(answer);
            if(!answer.error)
                this.$store.commit('SetGroups', answer.data.groups);
        })
    },
    mounted(){


        
    },
    beforeDestroy(){
        //eslint-disable-next-line
        socket.removeListener('schedule-get-groups-answer');
    },
    methods:{
        ...mapMutations(['ResetRowsHeight','ClearOpenGroups']),
        addGroup(groupInfo){
            this.schedules.push({name:groupInfo.name,id:groupInfo.id});
            //eslint-disable-next-line
            console.log(this.schedules);
            this.closeGroupsList();
        },
        closeSchedule(id){
            //eslint-disable-next-line
            console.log('we close '+id);
            for(let i = 0; i<this.schedules.length; i++){
                if(this.schedules[i].id == id){
                    this.schedules.splice(i,1);
                }
            }
            this.ResetRowsHeight();//очищаем высоту строк
            this.updateRowsHeight++;//запускаем обновление
        },
        showGroupsList(){
            this.groupsListShow = true;
        },
        closeGroupsList(){
            this.groupsListShow = false;
        },
        openLesson(lessonInfo){
            //eslint-disable-next-line
            console.log(lessonInfo);
            this.selectedGroup = lessonInfo.group;
            this.selected = true;
            this.day = lessonInfo.day;
            this.lessonNumber = lessonInfo.lesson;
            this.groupName = lessonInfo.groupName;
            this.updateInfo = true;
        },
        unselectLesson(){
            this.selectedGroup = -1;
            this.selected = false;
            this.day = -1;
            this.lessonNumber = -1;
            this.groupName = -1;
        },
        updatedRightBar(){
            this.updateInfo = false;
        },
    }
}
</script>

<style scoped>
.schedule-content{
    max-height: calc(100vh - 40px);
    width: 100%;
    padding: 0 8px;
    display: flex;
    overflow: auto;
}
.schedule-editor{
    min-width: calc(100% - 180px);
    display: flex;
    justify-content: space-between;
}


.schedules{
    display: flex;
}
.add-group-btn{
    padding: 8px 20px;
    width: 200px;
    display: flex;
    justify-content: center;
    background-color: #ececec;
}
.add-group-btn:hover{
    cursor: pointer;
    background-color: #dadada;
    transition: 0.3s;
}
</style>