<template>
    <div class="semesters">
        <div class="content">
            <search v-on:addAction='addNewSemester'/>
            <div class="semesters-list">
                <div class="semester" v-bind:key="semester.id" v-for="semester in this.semesters"
                     @click="select_semester(semester.id)">{{semester.name}}
                </div>
            </div>
        </div>
        <semesters-bar :semesterId="semesterActive" :create="semesterCreate" v-bind:semester-name='semesterName'
                       :selected="semesterSelected" v-on:unselect='unselect_semester'
                       v-on:updateInfo="select_semester(semesterActive)"/>
    </div>
</template>

<script>
    import SemestersBar from "./../components/rightbars/Semesters.vue";
    import Search from "./../components/Search.vue";

    export default {
        name: 'semesters',
        components: {
            SemestersBar,
            Search
        },
        data: function () {
            return {
                semesters: [],
                semesterActive: null,
                semesterName: '',
                semesterSelected: false,
                semesterCreate: false,
            }
        },
        watch: {
            // call again the method if the route changes
            'this.$route': 'update_list'
        },
        mounted: function () {
            this.update_list();
            this.registUpdateSemestersSockets([
                'semesters-create-answer',
                'semesters-update-answer',
                'semesters-delete-answer',
            ]);

            //eslint-disable-next-line
            socket.on('semesters-get-answer', answer => {
                //eslint-disable-next-line
                console.log(answer);
                if (!answer.error) {
                    this.semesters = answer.data.semesters;
                    if (this.semesterActive != null) {
                        this.select_semester(this.semesterActive);
                    }
                }
            });
            //eslint-disable-next-line
            socket.on('semesters-get-info-answer', answer => {
                //eslint-disable-next-line
                console.log(answer);
                if (!answer.error) {
                    this.semesterName = answer.data.name;

                }
            });
        },
        beforeDestroy() {
            //eslint-disable-next-line
            socket.removeListener('semesters-get-answer');
            //eslint-disable-next-line
            socket.removeListener('semesters-get-info-answer');
            this.deleteUpdateSenestersSockets([
                'semesters-create-answer',
                'semesters-update-answer',
                'semesters-delete-answer',
            ]);
        },
        methods: {
            addNewSemester() {
                this.semesterSelected = false;
                this.semesterCreate = false;


                this.semesterActive = null;
                this.semesterName = '';
                this.semesterCreate = true;
            },
            update_list() {
                //eslint-disable-next-line
                socket.emit('semesters-get', {});


            },
            select_semester(id) {
                this.semesterCreate = false;
                this.semesterActive = id;
                this.semesterSelected = true;
                //eslint-disable-next-line
                socket.emit('semesters-get-info', {semesterId: id});
            },
            unselect_semester() {
                this.semesterActive = null;
                this.semesterSelected = false;
                this.semesterCreate = false;
            },
            registUpdateSemestersSockets(arrayOfEvents) {
                for (let event of arrayOfEvents) {
                    //eslint-disable-next-line
                    socket.on(event, answer => {
                        //eslint-disable-next-line
                        console.log(answer);
                        if (!answer.error) {
                            this.update_list();
                        }
                    })
                }
            },
            deleteUpdateSenestersSockets(arrayOfEvents){
                for (let event of arrayOfEvents) {
                    //eslint-disable-next-line
                    socket.removeListener(event);
                }
            }
        },
    }
</script>

<style scoped>
    .semesters {
        width: 100%;
        display: flex;
        justify-content: space-between;

    }

    .content {
        width: calc(100vw - 442px);
        overflow: auto;
        height: calc(100vh - 40px);
    }

    .semester {
        border-bottom: solid 1px #b9b9b9;
        padding: 12px 8px;
    }

    .semester:hover {
        cursor: pointer;
        background-color: #eeeeee;
        transition: 0.3s;
    }
</style>