<template>
    <div class="settings-rooms">
        <div class="content">
            <search v-on:addAction='addNewRoom'/>
            <div class="rooms-list">
                <div class="room" v-bind:key="room.id" v-for="room in this.rooms" @click="select_room(room.id)">
                    {{room.name}}
                </div>
            </div>
        </div>
        <settings-rooms-bar :create="roomCreate" v-bind:room-name='roomName' :room-teachers="roomAttachTo"
                            :canMultiply='canMultiply' :selected="roomSelected" v-on:unselect='unselect_room'/>
    </div>
</template>

<script>
    import SettingsRoomsBar from "./../components/rightbars/SettingsRooms.vue";
    import Search from "./../components/Search.vue";
    import {mapGetters} from "vuex";
    export default {
        name: 'settings-rooms',
        components: {
            SettingsRoomsBar,
            Search
        },
        data: function () {
            return {
                rooms: [],
                roomActive: null,
                roomName: '',
                roomAttachTo: '',
                roomSelected: false,
                roomCreate: false,
                canMultiply: 0
            }
        },
        computed:{...mapGetters(['GetSemester'])},
        watch: {
            // call again the method if the route changes
            'this.$route': 'update_list'
        },
        mounted: function () {
            this.update_list();
            this.registUpdateRoomsSockets([
                'settings-rooms-create-answer',
                'settings-rooms-update-answer',
                'settings-rooms-delete-answer',
            ]);
            //eslint-disable-next-line
            socket.on('settings-rooms-get-answer', answer => {
                //eslint-disable-next-line
                console.log(answer);
                if (!answer.error) {
                    this.rooms = answer.data.rooms;
                    if (this.roomActive != null) {
                        this.select_room(this.roomActive);
                    }
                }
            });
            //eslint-disable-next-line
            socket.on('settings-rooms-get-info-answer', answer => {
                //eslint-disable-next-line
                console.log(answer);
                if (!answer.error) {
                    this.roomAttachTo = '';
                    this.roomName = answer.data.name;
                    this.canMultiply = answer.data.multiply;
                    this.roomAttachTo = answer.data.teachers;
                }
            });
        },
        beforeDestroy() {
            //eslint-disable-next-line
            socket.removeListener('settings-rooms-get-answer');
            //eslint-disable-next-line
            socket.removeListener('settings-rooms-get-info-answer');
            this.deleteUpdateSenestersSockets([
                'settings-rooms-create-answer',
                'settings-rooms-update-answer',
                'settings-rooms-delete-answer',
            ]);
        },
        methods: {
            addNewRoom() {
                this.roomSelected = false;
                this.roomCreate = false;

                this.roomCreate = true;
                this.roomActive = null;
                this.roomName = '';
                this.roomAttachTo = '';
            },
            update_list() {
                //eslint-disable-next-line
                socket.emit('settings-rooms-get', {semesterId:this.GetSemester});
            },
            select_room(id) {
                this.roomCreate = false;
                this.roomActive = id;
                this.roomSelected = true;
                //eslint-disable-next-line
                socket.emit('settings-rooms-get-info', {roomId: id});
            },
            unselect_room() {
                this.roomActive = null;
                this.roomSelected = false;
                this.roomCreate = false;
            },
            registUpdateRoomsSockets(arrayOfEvents) {
                for (let event of arrayOfEvents) {
                    //eslint-disable-next-line
                    socket.on(event, answer => {
                        //eslint-disable-next-line
                        console.log(answer);
                        if (!answer.error) {
                            this.update_list();
                        }
                    })
                }
            },
            deleteUpdateSenestersSockets(arrayOfEvents){
                for (let event of arrayOfEvents) {
                    //eslint-disable-next-line
                    socket.removeListener(event);
                }
            }
        },
    }
</script>

<style scoped>
    .settings-rooms {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .content {
        width: calc(100vw - 442px);
        overflow: auto;
        height: calc(100vh - 40px);
    }

    .room {
        border-bottom: solid 1px #b9b9b9;
        padding: 12px 8px;
    }

    .room:hover {
        cursor: pointer;
        background-color: #eeeeee;
        transition: 0.3s;
    }
</style>