<template>
    <div class="settings-groups">
        <div class="content">
            <search v-on:addAction='addNewGroup'/>
            <div class="groups-list">
                <div class="group" v-bind:key="group.id" v-for="group in this.groups" @click="select_group(group.id)">
                    {{group.name}}
                </div>
            </div>
        </div>
        <settings-groups-bar :groupId='groupActive' :teachers='teachers' :create="groupCreate" :groupName='groupName'
                             :items='items' :selected="groupSelected" v-on:unselect='unselect_group'/>
    </div>
</template>

<script>
    import SettingsGroupsBar from "@/components/rightbars/SettingsGroups.vue";
    import Search from "@/components/Search.vue";
    import {mapGetters} from "vuex";
    export default {
        name: 'settings-groups',
        components: {
            SettingsGroupsBar,
            Search
        },
        data: function () {
            return {
                groups: [],
                items: [],
                teachers: [],
                groupActive: null,
                groupName: '',
                groupSelected: false,
                groupCreate: false,
            }
        },
        computed:{...mapGetters(['GetSemester'])},
        watch: {
            // call again the method if the route changes
            'this.$route': 'update_list'
        },
        mounted() {
            this.update_list();
            //eslint-disable-next-line
            socket.on('settings-groups-get-answer', (answer) => {
                //eslint-disable-next-line
                console.log(answer);
                if (!answer.error) {//устанавливаем значения из ответа сервера
                    this.groups = answer.data.groups;
                    this.teachers = answer.data.teachers;
                    if (this.groupActive != null) {
                        this.select_group(this.groupActive);
                    }
                }
            });
            this.registUpdateGroupsSockets([//рефакторинг гавнокода, чтобы хоть как-то лучше стало
                'settings-groups-create-answer',
                'settings-groups-update-answer',
                'settings-groups-delete-answer',
                'settings-items-create-answer',
                'settings-items-update-answer',
                'settings-items-delete-answer'
            ]);
            //eslint-disable-next-line
            socket.on('settings-groups-get-info-answer', answer => {
                //eslint-disable-next-line
                console.log(answer);
                if (!answer.error) {//устанавливаем значения из ответа сервера
                    this.groupName = answer.data.group_name;
                    this.items = answer.data.items;
                }
            });
        },
        beforeDestroy() {
            //eslint-disable-next-line
            socket.removeListener('settings-groups-get-answer');
            //eslint-disable-next-line
            socket.removeListener('settings-groups-get-info-answer');
            this.deleteUpdateSenestersSockets([//рефакторинг гавнокода, чтобы хоть как-то лучше стало
                'settings-groups-create-answer',
                'settings-groups-update-answer',
                'settings-groups-delete-answer',
                'settings-items-create-answer',
                'settings-items-update-answer',
                'settings-items-delete-answer'
            ])
        },
        methods: {
            addNewGroup() {
                this.groupSelected = false;
                this.groupCreate = false;


                this.groupActive = null;
                this.groupName = '';
                this.groupCreate = true;
            },
            update_list() {
                //eslint-disable-next-line
                socket.emit('settings-groups-get', {semesterId:this.GetSemester});
            },
            select_group(id) {
                this.groupCreate = false;
                this.groupActive = id;
                this.groupSelected = true;
                //eslint-disable-next-line
                socket.emit('settings-groups-get-info', {id: id});
            },
            unselect_group() {
                this.groupActive = null;
                this.groupSelected = false;
                this.groupCreate = false;
            },
            registUpdateGroupsSockets(arrayOfEvents) {
                for (let event of arrayOfEvents) {
                    //eslint-disable-next-line
                    socket.on(event, answer => {
                        //eslint-disable-next-line
                        console.log(answer);
                        if (!answer.error) {
                            this.update_list();
                        }
                    })
                }
            },
            deleteUpdateSenestersSockets(arrayOfEvents){
                for (let event of arrayOfEvents) {
                    //eslint-disable-next-line
                    socket.removeListener(event);
                }
            }
        },
    }
</script>

<style scoped>
    .settings-groups {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .content {
        width: calc(100vw - 442px);
        overflow: auto;
        height: calc(100vh - 40px);
    }

    .group {
        border-bottom: solid 1px #b9b9b9;
        padding: 12px 8px;
    }

    .group:hover {
        cursor: pointer;
        background-color: #eeeeee;
        transition: 0.3s;
    }
</style>