<template>
    <div class="settings-export-excel">
        <div class="export-content">
            <div class="sheet" v-for="(sheet,sheetIndex) in sheets" :key="sheetIndex">
                <div class="title">Лист {{sheetIndex+1}} <button @click="deleteSheet(sheetIndex)">x</button></div>
                <input type="text" :id="'title'+sheetIndex" placeholder="Заголовок листа">
                <div class="groups">
                    <span class="groupName" v-for="groupName in sheets[sheetIndex].groups"
                          :key="''+sheetIndex+groupName">{{groupName}} <button
                            @click="deleteGroup(sheetIndex,groupName)">x</button></span>
                    <div class="add-new-group-block">
                        <div @click="showGroupsList(sheetIndex)" class="add-group-btn"><img src="@/assets/add.svg">
                        </div>
                        <groups-list v-if='groupsListShow[sheetIndex]' v-on:close='closeGroupsList(sheetIndex)'
                                     @add-group='addGroup($event,sheetIndex)'
                                     :openGroups="openGroups"/>
                    </div>
                </div>
            </div>
            <button @click="addSheet" class="add-sheet-btn">Добавить ещё один лист</button>
        </div>
        <div class="bottom">
            <button class="cancel-btn">Отмена</button>
            <button class="save-btn" @click="saveSettings">Сохранить</button>
        </div>
    </div>
</template>

<script>

    import {mapGetters, mapMutations} from 'vuex';
    import GroupsList from "@/components/GroupsList.vue";

    export default {
        name: 'settings-export-excel',
        data() {
            return {
                sheets: [{title: null, groups: []}],
                groupsListShow: [false],
                openGroups: [],
            }
        },
        components: {
            GroupsList,
        },
        computed: {
            ...mapGetters([
                'GetSemester',
            ]),
        },
        created() {

        },
        mounted() {
            //eslint-disable-next-line
            socket.emit("schedule-get-groups", {semesterId: this.GetSemester});//получаем список групп

            //eslint-disable-next-line
            socket.on("schedule-get-groups-answer", answer => {
                //eslint-disable-next-line
                console.log(answer);
                if (!answer.error)
                    this.$store.commit('SetGroups', answer.data.groups);
            });

            //eslint-disable-next-line
            socket.on("settings-excel-get-answer", answer => {
                //eslint-disable-next-line
                console.log(answer);
                if (!answer.error) {
                    this.sheets = JSON.parse(answer.data.settings);
                    setTimeout(()=>{
                        this.sheets.forEach((sheet, index) => {
                            //eslint-disable-next-line
                            $("#title" + index).val(""+sheet.title);
                            this.openGroups.push(...sheet.groups);
                        })
                    },250);

                }
            });

            //eslint-disable-next-line
            socket.emit("settings-excel-get", {semesterId: this.GetSemester});


        },
        beforeDestroy() {
            //eslint-disable-next-line
            socket.removeListener('settings-excel-get-answer');
            //eslint-disable-next-line
            socket.removeListener('schedule-get-groups-answer');
        },
        methods: {
            ...mapMutations(['ClearOpenGroups']),
            addSheet() {
                this.sheets.push({title: null, groups: []});
                this.groupsListShow.push(false);
            },
            addGroup(groupInfo, sheetId) {
                //eslint-disable-next-line
                console.log(groupInfo, sheetId);
                this.sheets[sheetId].groups.push(groupInfo.name);
                this.openGroups.push(groupInfo.name);
                this.closeGroupsList();
            },

            showGroupsList(sheetIndex) {
                //eslint-disable-next-line
                console.log(sheetIndex, this.groupsListShow);
                this.groupsListShow.splice(sheetIndex, 1, true);
                this.groupsListShow[sheetIndex] = true;
            },
            closeGroupsList(sheetIndex) {
                this.groupsListShow.splice(sheetIndex, 1, false);
            },
            /**
             * Метод для сохранения настроек
             */
            saveSettings() {
                //eslint-disable-next-line
                console.log("Сохраняем настройки:", this.sheets);
                let clearedSheets = this.sheets.filter(value => value.groups.length > 0);
                for (let sheetIndex = 0; sheetIndex < clearedSheets.length; sheetIndex++) {
                    //eslint-disable-next-line
                    clearedSheets[sheetIndex].title = $("#title" + sheetIndex).val();
                }
                //eslint-disable-next-line
                socket.once("settings-excel-save-answer", answer => {
                    //eslint-disable-next-line
                    console.log(answer);
                });
                //eslint-disable-next-line
                socket.emit("settings-excel-save", {
                    semesterId: this.GetSemester,
                    excelSettings: JSON.stringify(clearedSheets)
                });
            },
            /**
             * Метод для удаление группы из листа
             */
            deleteGroup(sheetIndex, groupName) {
                let groupIndex = this.sheets[sheetIndex].groups.findIndex(name => name === groupName);
                this.sheets[sheetIndex].groups.splice(groupIndex, 1);

                groupIndex = this.openGroups.findIndex(name => name === groupName);
                this.openGroups.splice(groupIndex, 1);
            },
            /**
             * Метод для удаление листа
             */
            deleteSheet(index){
                this.sheets[index].groups.forEach(groupName =>{
                    let groupIndex = this.openGroups.findIndex(name => name === groupName);
                    this.openGroups.splice(groupIndex, 1);
                });
                this.sheets.splice(index,1);
            }
        }
    }
</script>

<style scoped>
    .settings-export-excel {
        height: calc(100vh - 40px);
        overflow: auto;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .export-content {
        height: calc(100vh - 40px);
        overflow: auto;
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
    }

    .bottom {
        background-color: #312f2f;
        padding: 8px;
        display: flex;
        justify-content: flex-end;
    }

    .bottom button {
        border: none;
        background: none;
        color: white;
    }

    .sheet .title {
        margin-bottom: 16px;
        border-left: solid 2px black;
        padding-left: 8px;
        font-size: 18px;
    }

    .sheet input {
        display: block;
        margin-bottom: 4px;
    }

    .sheet .groups {
        display: flex;
    }

    .sheet .groups span {
        margin-right: 14px;
    }

    .add-group-btn {
        padding: 8px 20px;
        width: 200px;
        display: flex;
        justify-content: center;
        background-color: #ececec;
    }

    .add-group-btn:hover {
        cursor: pointer;
        background-color: #dadada;
        transition: 0.3s;
    }

    .add-sheet-btn {
        margin-top: 8px;
    }
</style>