<template>
    <div class="settings-teachers">
        <div class="content">
            <search v-on:addAction='addNewTeacher'/>
            <div class="teachers-list">
                <div class="teacher" v-bind:key="teacher.id" v-for="teacher in this.teachers"
                     @click="select_teacher(teacher.id)">{{teacher.last_name+
                    ' '+teacher.first_name[0]+"."+teacher.father_name[0]+"."}}
                </div>
            </div>
        </div>
        <settings-teachers-bar :teacherId='teacherActive' :create="teacherCreate" :teacher-first-name='teacherFirstName'
                               :teacher-last-name='teacherLastName' :teacher-father-name='teacherFatherName'
                               :teacher-room-name="attachedRoomName" :rooms='rooms' :selected="teacherSelected"
                               v-on:unselect='unselect_teacher' v-on:updateInfo="select_teacher(teacherActive)"/>
    </div>
</template>

<script>
    import SettingsTeachersBar from "@/components/rightbars/SettingsTeachers.vue";
    import Search from "@/components/Search.vue";
    import {mapGetters} from "vuex";
    export default {
        name: 'settings-teachers',
        components: {
            SettingsTeachersBar,
            Search
        },
        data: function () {
            return {
                teachers: [],
                rooms: [],
                teacherActive: null,
                teacherFirstName: '',
                teacherLastName: '',
                teacherFatherName: '',
                attachedRoomName: '',
                teacherSelected: false,
                teacherCreate: false,
            }
        },
        computed:{...mapGetters(['GetSemester'])},
        watch: {
            // call again the method if the route changes
            'this.$route': 'update_list'
        },
        mounted: function () {
            this.update_list();
            this.registUpdateTeachersSockets([
                'settings-teachers-create-answer',
                'settings-teachers-update-answer',
                'settings-teachers-delete-answer',
            ]);
            //eslint-disable-next-line
            socket.on('settings-teachers-get-answer', (answer) => {
                //eslint-disable-next-line
                console.log(answer);
                if (!answer.error) {//устанавливаем значения из ответа сервера
                    this.teachers = answer.data.teachers;
                    if (this.teacherActive != null) {
                        this.select_teacher(this.teacherActive);
                    }
                }
            });
            //eslint-disable-next-line
            socket.on('settings-teachers-get-info-answer', answer => {
                //eslint-disable-next-line
                console.log(answer);
                if (!answer.error) {//устанавливаем значения из ответа сервера
                    this.teacherFirstName = answer.data.first_name;
                    this.teacherLastName = answer.data.last_name;
                    this.teacherFatherName = answer.data.father_name;
                    this.attachedRoomName = answer.data.roomName;
                    this.rooms = answer.data.rooms;
                }
            });

            //eslint-disable-next-line
            socket.once("settings-rooms-get-answer", answer =>{
                //eslint-disable-next-line
                console.log(answer);
                if(!answer.error){
                    this.rooms = answer.data.rooms;
                }
            })
            //eslint-disable-next-line
            socket.emit("settings-rooms-get",{semesterId:this.GetSemester});
        },
        beforeDestroy() {
            //eslint-disable-next-line
            socket.removeListener('settings-teachers-get-answer');
            //eslint-disable-next-line
            socket.removeListener('settings-teachers-get-info-answer');
            this.deleteUpdateSenestersSockets([
                'settings-teachers-create-answer',
                'settings-teachers-update-answer',
                'settings-teachers-delete-answer',
            ]);
        },
        methods: {
            addNewTeacher() {
                this.teacherSelected = false;
                this.teacherCreate = false;


                this.teacherActive = null;
                this.teacherFirstName = '';
                this.teacherLastName = '';
                this.teacherFatherName = '';
                this.attachedRoomName = '';
                this.teacherCreate = true;
            },
            update_list() {
                //eslint-disable-next-line
                socket.emit('settings-teachers-get', {semesterId:this.GetSemester});
            },
            select_teacher(id) {
                this.teacherCreate = false;
                this.teacherActive = id;
                this.teacherSelected = true;
                //eslint-disable-next-line
                socket.emit('settings-teachers-get-info', {teacherId: id,semesterId:this.GetSemester});
            },
            unselect_teacher() {
                this.teacherActive = null;
                this.teacherSelected = false;
                this.teacherCreate = false;
            },
            registUpdateTeachersSockets(arrayOfEvents) {
                for (let event of arrayOfEvents) {
                    //eslint-disable-next-line
                    socket.on(event, answer => {
                        //eslint-disable-next-line
                        console.log(answer);
                        if (!answer.error) {
                            this.update_list();
                        }
                    })
                }
            },
            deleteUpdateSenestersSockets(arrayOfEvents){
                for (let event of arrayOfEvents) {
                    //eslint-disable-next-line
                    socket.removeListener(event);
                }
            }
        },
    }
</script>

<style scoped>
    .settings-teachers {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .content {
        width: calc(100vw - 442px);
        overflow: auto;
        height: calc(100vh - 40px);
    }

    .teacher {
        border-bottom: solid 1px #b9b9b9;
        padding: 12px 8px;
    }

    .teacher:hover {
        cursor: pointer;
        background-color: #eeeeee;
        transition: 0.3s;
    }
</style>