<template>
    <div class="weeks">
        <div class="content">
            <search v-on:addAction='addNewWeek'/>
            <div class="weeks-list">
                <div class="week" v-bind:key="week.id" v-for="week in this.weeks" @click="select_week(week.id)">
                    {{weekName(week.start,week.end)}}
                </div>
            </div>
        </div>
        <weeks-bar :create="weekCreate" :week-id='weekActive' :week-start='weekStart' :week-end='weekEnd'
                   :selected="weekSelected" :week-published="weekPublished" v-on:unselect='unselect_week'
                   v-on:updateInfo="select_week(weekActive)"/>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import WeeksBar from "./../components/rightbars/Weeks.vue";
    import Search from "./../components/Search.vue";

    export default {
        name: 'weeks',
        components: {
            WeeksBar,
            Search
        },
        data: function () {
            return {
                weeks: [],
                weekActive: null,
                weekStart: '',
                weekEnd: '',
                weekPublished: false,
                weekSelected: false,
                weekCreate: false,
            }
        },
        computed: {
            ...mapGetters([
                'GetSemester'
            ]),
        },
        watch: {
            // call again the method if the route changes
            'this.$route': 'update_list',
        },
        mounted: function () {
            this.update_list();
            this.registUpdateWeeksSockets([
                'weeks-create-answer',
                "weeks-update-answer",
                'weeks-delete-answer'
            ]);
            //eslint-disable-next-line
            socket.on('weeks-get-answer', answer => {
                //eslint-disable-next-line
                console.log(answer);
                if (!answer.error) {
                    this.weeks = answer.data.weeks;
                    if (this.weekActive != null) {
                        this.select_week(this.weekActive);
                    }
                }
            });
            //eslint-disable-next-line
            socket.on('weeks-get-info-answer', answer => {
                //eslint-disable-next-line
                console.log(answer);
                if (!answer.error) {
                    this.weekStart = answer.data.start;
                    this.weekEnd =  answer.data.end;
                    this.weekPublished =  answer.data.published !== 0;
                }

            });
            if (this.GetSemester === -1) {//если мы не знаем какой семестр открыт, то предлагаем его выбрать
                this.$router.push("/семестры");
            }
        },
        beforeDestroy() {
            //eslint-disable-next-line
            socket.removeListener('weeks-get-answer');
            //eslint-disable-next-line
            socket.removeListener('weeks-get-info-answer');
            this.deleteUpdateSenestersSockets([
                'weeks-create-answer',
                "weeks-update-answer",
                'weeks-delete-answer'
            ]);
        },
        methods: {
            addNewWeek() {
                this.weekSelected = false;
                this.weekCreate = false;


                this.weekActive = null;
                this.weekStart = '';
                this.weekEnd = '';
                this.weekCreate = true;
            },
            update_list() {
                //eslint-disable-next-line
                socket.emit('weeks-get', {semesterId: this.GetSemester});


            },
            select_week(id) {
                this.weekCreate = false;
                this.weekActive = id;
                this.weekSelected = true;
                //eslint-disable-next-line
                socket.emit('weeks-get-info', {weekId: id});
            },
            unselect_week() {
                this.weekActive = null;
                this.weekSelected = false;
                this.weekCreate = false;
            },
            weekName(start, end) {//выдаёт имя для недели, основываясь на дате её начала и конца
                let startDate = new Date(start);
                let endDate = new Date(end);
                return `C ${startDate.getDate()}.${startDate.getMonth() + 1}.${startDate.getFullYear()} По ${endDate.getDate()}.${endDate.getMonth() + 1}.${endDate.getFullYear()}`;
            },
            registUpdateWeeksSockets(arrayOfEvents) {
                for (let event of arrayOfEvents) {
                    //eslint-disable-next-line
                    socket.on(event, answer => {
                        //eslint-disable-next-line
                        console.log(answer);
                        if (!answer.error) {
                            this.update_list();
                        }
                    })
                }
            },
            deleteUpdateSenestersSockets(arrayOfEvents){
                for (let event of arrayOfEvents) {
                    //eslint-disable-next-line
                    socket.removeListener(event);
                }
            },
        },
    }
</script>

<style scoped>
    .weeks {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .content {
        width: calc(100vw - 442px);
        overflow: auto;
        height: calc(100vh - 40px);
    }

    .week {
        border-bottom: solid 1px #b9b9b9;
        padding: 12px 8px;
    }

    .week:hover {
        cursor: pointer;
        background-color: #eeeeee;
        transition: 0.3s;
    }
</style>