<template>
    <div v-if="GetAlertInformation.alertShow" class="alert">
        <div class="background"></div>
        <div class="message-box">
            <div class="title">{{GetAlertInformation.alertTitle}}</div>
            <div class="message">{{GetAlertInformation.alertMessage}}</div>
            <div class="buttons">
                <button class="submit" @click="returnAnswer(true)">Подтвердить</button>
                <button class="cancel" @click="returnAnswer(false)">Отмена</button>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
    name: 'alert',
    computed:{
        ...mapGetters([
            'GetAlertInformation'
        ])
    },
    methods:{
        returnAnswer(answer) {
            alert(answer);
            this.$store.commit("ReturnAlertAnswer",answer);
        }
    }
}
</script>

<style scoped>
.alert{
    display: flex;
    justify-content: center;
}
.background{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 100;
    background-color: rgba(34, 34, 34, 0.514);
}
.message-box{
    position: absolute;
    z-index: 101;
    background-color: white;
    width: 320px;
    top: 30%
}
.message-box .title{
    background-color: #343131;
    color: white;
    text-align: center;
    padding: 4px 0;
    font-size: 18px;
}
.message-box .message{
    padding: 8px;
}
.message-box .buttons{
    display: flex;
    justify-content: space-around;
    background-color: #343131;
    
    
}
.buttons button{
    background-color: #343131;
    border: none;
    color: white;
    width: 100%;
    padding: 8px 0;
}
.buttons button:hover{
    cursor: pointer;
    background-color: #4b4747;
    
}
</style>