<template>
    <div class="groups-list">
        <div class="search">
            <input v-model="searchText" type="text" placeholder="Поиск">
            <img @click="closeGroupsList" class="close-btn" src="@/assets/close-button.svg">
        </div>
        <div class="groups" id='groups'>
            <div class="group" :key="group.id" v-for="group in this.GroupsList" @click="selectGroup({name:group.name,id:group.id})">
                <div class="name">{{group.name}}</div>
                <div class="status">Не начато</div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters,mapMutations } from 'vuex';
import $ from "jquery";
$("#groups").niceScroll();
export default {
    name: 'groups-list',
    data(){
        return {
            searchText: '',
        }
    },
    props:['openGroups'],
    computed:{
        ...mapGetters([
            'GetGroups',
            'GetOpenGroups'
        ]),
        GroupsList(){
            let withoutOpenGroupsList;
            if(this.openGroups){//если нам передают список открытых групп
                withoutOpenGroupsList = this.GetGroups.filter((group)=> !this.openGroups.find(groupName => groupName === group.name));//убираем открытые группы
            }else{
                withoutOpenGroupsList = this.GetGroups.filter((group)=> !this.GetOpenGroups[group.name]);//убираем открытые группы
            }
            let regular = new RegExp(this.searchText,"gi");//создаём регулярочку
            return withoutOpenGroupsList.filter(group => regular.test(group.name));//ищем нужные группы
        }
    },
    methods:{
        ...mapMutations(['AddOpenGroup']),
        selectGroup(objectInfo){
            this.AddOpenGroup(objectInfo.name);
            this.$emit('add-group',objectInfo);
        },
        closeGroupsList(){
            this.$emit('close');
        }
    }

}
</script>

<style scoped>
.close-btn{
    width: 16px;
}
.groups-list{
    background-color: white;
    box-shadow: gray 0px 0px 2px;
    width: 240px;
}
.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #b9b9b9; 
}
.search input{
    border: none;
}
.groups{
    max-height: 260px;
    overflow: auto;
}
.group{
    border-bottom: solid 1px #b9b9b9; 
    padding: 12px 8px;
    display: flex;
    justify-content: space-between
}
.group:hover{
    cursor: pointer;
    background-color: #eeeeee;
    transition: 0.3s;
}
</style>