<template>
    <div class="group-schedule">
        <img src="@/assets/close-button.svg" class="group-close" @click="closeGroupSchedule">
        <div class="group-name">{{this.name}}</div>
        <div class="group-status">{{this.status}}</div>
        <div class="days">
            <div class="day" :key="day" v-for="day in days">
                <div class="day-name">{{dayname[day-1]}}</div>
                <table>
                    <tbody>
                        <tr>
                            <td class="number-title">#</td><td class="item-title">Предмет</td><td class="room-title">Каб.</td>
                        </tr>
                        <tr :id="name+'-'+((day-1)*6 + 0)" v-bind:style="{height: GetRowHeight( (day-1)*6 + 0 ) + 'px' }" @click="openLesson(day,1)">
                            <td>1.</td><td>{{schedule[day][1].name}}</td><td>{{schedule[day][1].room}}</td>
                        </tr>
                        <tr v-if='schedule[day][1].selected' class="more-info" >
                            <td colspan="3">Учитель: {{schedule[day][1].teacher}}</td>
                        </tr>
                        <tr :id="name+'-'+((day-1)*6 + 1)" :style="{height: GetRowHeight( (day-1)*6 + 1 ) + 'px' }" @click="openLesson(day,2)">
                            <td>2.</td><td>{{schedule[day][2].name}}</td><td>{{schedule[day][2].room}}</td>
                        </tr>
                        <tr v-if='schedule[day][2].selected' class="more-info">
                            <td colspan="3">Учитель: {{schedule[day][2].teacher}}</td>
                        </tr>
                        <tr :id="name+'-'+((day-1)*6 + 2)" :style="{height: GetRowHeight( (day-1)*6 + 2 ) + 'px' }" @click="openLesson(day,3)">
                            <td>3.</td><td>{{schedule[day][3].name}}</td><td>{{schedule[day][3].room}}</td>
                        </tr>
                        <tr v-if='schedule[day][3].selected' class="more-info">
                            <td colspan="3">Учитель: {{schedule[day][3].teacher}}</td>
                        </tr>
                        <tr :id="name+'-'+((day-1)*6 + 3)" :style="{height: GetRowHeight( (day-1)*6 + 3 ) + 'px' }" @click="openLesson(day,4)">
                            <td>4.</td><td>{{schedule[day][4].name}}</td><td>{{schedule[day][4].room}}</td>
                        </tr>
                        <tr v-if='schedule[day][4].selected' class="more-info">
                            <td colspan="3">Учитель: {{schedule[day][4].teacher}}</td>
                        </tr>
                        <tr :id="name+'-'+((day-1)*6 + 4)" :style="{height: GetRowHeight( (day-1)*6 + 4 ) + 'px' }" @click="openLesson(day,5)">
                            <td>5.</td><td>{{schedule[day][5].name}}</td><td>{{schedule[day][5].room}}</td>
                        </tr>
                        <tr v-if='schedule[day][5].selected' class="more-info">
                            <td colspan="3">Учитель: {{schedule[day][5].teacher}}</td>
                        </tr>
                        <tr :id="name+'-'+((day-1)*6 + 5)" :style="{height: GetRowHeight( (day-1)*6 + 5 ) + 'px' }" @click="openLesson(day,6)">
                            <td>6.</td><td>{{schedule[day][6].name}}</td><td>{{schedule[day][6].room}}</td>
                        </tr>
                        <tr v-if='schedule[day][6].selected' class="more-info">
                            <td colspan="3">Учитель: {{schedule[day][6].teacher}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters,mapMutations } from "vuex";
export default {
    name: 'group-schedule',
    props:['name','status','days','groupId','exeptionGroup','updateRowsHeight'],
    data(){
        return{
            dayname:['Понедельник',"Вторник","Среда","Четверг","Пятница","Суббота","Воскресенье"],
            schedule:{
                '1':{//день
                    '1':{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                    2:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                    3:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                    4:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                    5:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                    6:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                },
                2:{//день
                    1:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                    2:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                    3:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                    4:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                    5:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                    6:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                },
                3:{//день
                    1:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                    2:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                    3:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                    4:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                    5:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                    6:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                },
                4:{//день
                    1:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                    2:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                    3:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                    4:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                    5:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                    6:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                },
                5:{//день
                    1:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                    2:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                    3:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                    4:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                    5:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                    6:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                },
                6:{//день
                    1:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                    2:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                    3:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                    4:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                    5:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                    6:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                },
                7:{//день
                    1:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                    2:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                    3:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                    4:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                    5:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                    6:{//урок
                        name: '',
                        room: '',
                        teacher: '',
                        selected: false,
                    },
                },
            },
            open:{
                day: -1,
                lesson: -1,
            }
            
        }
    },
    watch:{
        exeptionGroup: function(){
            if(this.exeptionGroup != this.groupId){
                try{
                this.schedule[this.open.day][this.open.lesson].selected = false;
                this.open.day = -1;
                this.open.lesson = -1;
                }
                //eslint-disable-next-line
                catch(e){}
            }
        },
        updateRowsHeight(){
            this.setHeight()
        }
    },
    computed:{
        ...mapGetters([
            'GetWeek',
            'GetRowHeight',
        ]),
    },
    created(){
        //eslint-disable-next-line
        console.log(this.groupId);
        //eslint-disable-next-line
        socket.on("schedule-get-group-answer", answer => {
            //eslint-disable-next-line
            console.log('schedule-get-group-answer',answer);
            if(!answer.error) {
                try {
                    if (answer.data.groupId === this.groupId) {//если это наша группа
                        this.resetSchedule();
                        for (let lesson of answer.data.schedule) {
                            //eslint-disable-next-line
                            this.schedule[lesson.day][lesson.lessonNumber].name = lesson.lesson;
                            this.schedule[lesson.day][lesson.lessonNumber].room = lesson.room;
                            this.schedule[lesson.day][lesson.lessonNumber].teacher = lesson.teacher;
                        }
                    }
                    this.setHeight();
                } catch (e) {/**/
                }
            }
        });
        /**
         * Если мы обновили какую-то пару, то просто перезапрашиваем всё расписание группы.
         * За бесплатно я ещё над производительностью парится буду. Офк ей пользоваться будут 3 человека.
         */
        //eslint-disable-next-line
        socket.on("schedule-set-lesson-answer", answer =>{
           if(!answer.error){
               //eslint-disable-next-line
               socket.emit("schedule-get-group",{groupId:this.groupId, weekId: this.GetWeek});
           }
        });
        //eslint-disable-next-line
        socket.on("schedule-delete-lesson-answer", answer =>{
            //eslint-disable-next-line
            console.log("we delete lesson",answer);
            if(!answer.error){
                //eslint-disable-next-line
                socket.emit("schedule-get-group",{groupId:this.groupId, weekId: this.GetWeek});
            }
        });
        //eslint-disable-next-line
        socket.emit("schedule-get-group",{groupId:this.groupId, weekId: this.GetWeek});
    },
    beforeDestroy(){
        //eslint-disable-next-line
        socket.removeListener('schedule-get-group-answer');
        //eslint-disable-next-line
        socket.removeListener('schedule-set-lesson-answer');
        //eslint-disable-next-line
        socket.removeListener('schedule-delete-lesson-answer');
    },
    methods:{
        ...mapMutations(['SetRowHeight','RemoveOpenGroup']),
        openLesson(day,lesson){
            try{
            this.schedule[this.open.day][this.open.lesson].selected = false;
            //eslint-disable-next-line
            }catch(e){}
            this.schedule[day][lesson].selected = true;
            this.open.day = day;
            this.open.lesson = lesson;
            this.$emit('open-lesson',{group: this.groupId, day: day, lesson: lesson, groupName: this.name});
        },
        resetSchedule(){
            for(let day in this.schedule){
                for(let lesson in this.schedule[day]){
                    this.schedule[day][lesson].name = '';
                    this.schedule[day][lesson].room = '';
                    this.schedule[day][lesson].teacher = '';
                    this.schedule[day][lesson].selected = false;
                }
            }
        },
        /**
         * Метод для попытки установить новую минимальную высоту строки
         */
        setHeight() {
            setTimeout(()=>{//нужен, чтобы ячейки успели принять свой размер
                for(let day = 0; day <this.days; day++){
                    for(let lessonNumber = 0; lessonNumber<5; lessonNumber++){
                        let rowNum = day * 6 + lessonNumber;
                        let fieldId = "#"+this.name+"-"+rowNum;
                        //eslint-disable-next-line
                        let heightNow = $(fieldId).height();//высота нашей ячейки

                        if(heightNow > this.GetRowHeight(rowNum)){//если наша ячейка больше
                            this.SetRowHeight({rowNum,height:heightNow});//устанавливаем новую высоту
                        }
                    }

                }
            },400)


        },
        /**
         * Метод закрытия расписания группы
         */
        closeGroupSchedule(){
            this.RemoveOpenGroup(this.name);
            this.$emit('close-schedule',this.groupId)
        }
    },
}
</script>

<style scoped>
.group-close{
    width: 16px;
    position: absolute;
    right: 0;
    cursor: pointer;
}
.group-schedule{
    margin-right: 24px;
    position: relative;
}
.group-name{
    color: #47527C;
    text-align: center;
    font-size:24px;
}
.group-status{
    text-align: center;
    margin-bottom: 12px;
}
.day .day-name{
    font-size: 16px;
    color: #47527C;
    margin-bottom: 8px;
}
.number-title{
    min-width: 16px;
}

.item-title{
    min-width: 200px;
}
.day table tbody td{
    padding: 6px 0px;
    color:#838BA8;
    max-width: 200px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
tr{
    border-bottom: solid 1px #D8DAE3;
}

tr:hover:not(.more-info){
    background-color: #F5F5F5;
    transition: 0.1s;
}
.more-info{
    width: 100%;
    background-color: #EAEAF0;
}
.day{
    margin-bottom: 12px;
}
</style>