<template>
    <div class="dukentre">
        <h1>Hello World!</h1>
        <h2>{{msg}}</h2>
    </div>
</template>

<script>
    export default{
        name:'hello-world',
        props:['msg']
    }
</script>