<template>
    <div class="page-header">
        <div id="crumbs">крошки</div>
        <div class="left">
            <div class="acc">{{email}}</div>
            <button @click="logout">Выйти</button>
        </div>

    </div>
</template>

<script>
    export default {
        name: "page-header",
        components: {},
        props: ['email'],
        methods:{
            logout(){
                //eslint-disable-next-line
                socket.emit("auth-logout");
            }
        }
    }
</script>

<style lang="css">
    .page-header {
        background-color: #2b2828;
        height: 40px;
        color: white;
        display: flex;
        align-items: center;
        padding: 0 10px;
        justify-content: space-between;
    }

    .page-header .left {
        display: flex;
    }

    .page-header .left button{
        background: none;
        border:none;
        color: white;
        margin-left: 8px;
    }
</style>