<template>
    <div class="search">
                <img src="@/assets/loupe.svg">
                <input type="text" placeholder="Поиск">
                <img src="@/assets/add.svg" @click="$emit('addAction');" class="add-btn">
    </div>
</template>

<script>
export default {
    name: 'search',
    
}
</script>

<style scoped>
img{
    height: 24px;
    width: 24px;
}
input {
    width: calc(100% - 76px);
    border: none;
    margin: 0 12px;
}
</style>