<template>
    <div class="sidebar">
        <div id="nav">
            <router-link to="/">Главная</router-link>
            <div class="semester-btn" @click="backFromSchedule">Семестр</div>
            <div v-if="GetSemester" class="schedule-menu">
                <router-link v-if="GetSemester" to="/семестры/недели">Неделя</router-link>
                <router-link v-if="GetSemester && GetWeek" to="/расписание-кабинеты">Кабинеты</router-link>
                <router-link v-if="GetSemester && GetWeek" to="/редактор-расписания">Расписание</router-link>
            </div>
            <router-link v-if="GetSemester" to="/настройки">Настройки</router-link>
            <div v-if="GetSemester" class="settings-menu">
                <router-link to="/настройки/учителя">Учителя</router-link>
                <router-link to="/настройки/группы">Группы</router-link>
                <router-link to="/настройки/кабинеты">Кабинеты</router-link>
                <router-link to="/настройки/экспорт-эксель">Экспорт эксель</router-link>
            </div>
            <router-link to="/ошибки">Сообщить об ошибке</router-link>
            <router-link to="/помощь">Помощь</router-link>
            <div v-if="inHelp" class="help">
                <router-link to="/помощь#1">Семестры</router-link>
                <router-link to="/помощь#2">Недели</router-link>
                <router-link to="/помощь#3">Редактор расписания</router-link>
                <router-link to="/помощь#4">Как создать предмет с двумя учителями?</router-link>
                <router-link to="/помощь#5">Как закрепить кабинет за учителем?</router-link>
                <router-link to="/помощь#6">Как разрешить ставить несколько групп в один кабинет?</router-link>
                <router-link to="/помощь#7">Как добавить замещающего учителя?</router-link>
                <router-link to="/помощь#8">Настройки</router-link>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters,mapMutations} from "vuex"
    export default {
        name: 'sidebar',
        components: {},
        computed:{
            ...mapGetters(['GetSemester','GetWeek']),
            inHelp(){
                return location.pathname === "/%D0%BF%D0%BE%D0%BC%D0%BE%D1%89%D1%8C";//"помощь"
            }
        },
        methods:{
            ...mapMutations(['SetSemester','SetWeek','SetGroups','SetWeekDays']),
            backFromSchedule(){
                if(location.pathname !== "/семестры") {
                    this.SetSemester(null);
                    this.SetWeek(null);
                    this.SetGroups([]);
                    this.SetWeekDays(null);
                    this.$router.push("/семестры");
                }
            },

        }
    }
</script>

<style>
    .sidebar, #nav {
        background-color: #343131;
        color: white;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: 160px;
        height: calc(100vh - 50px); /*40px - header, 10 х3*/

    }

    #nav a,.semester-btn{
        color: white;
        text-decoration: none;
        font-size: 20px;
        margin-bottom: 8px;
        cursor: pointer;
    }

    .sidebar {
        float: left;
        padding: 5px 10px;
    }

    .settings-menu, .schedule-menu,.sidebar .help {
        display: flex;
        flex-direction: column;
        margin-left: 15px;

    }

    .sidebar .help{
        margin-left: 8px;
        margin-right: 8px;
    }
    .sidebar #nav .help a{
        font-size: 12px;
    }
    #nav .settings-menu a,#nav .schedule-menu a, #nav .help a{
        color: rgb(160, 160, 160);
    }
</style>