<template>
  <div id="app">
    <page v-if="connection" :email="this.email"></page>
    <auth v-else></auth>
  </div>
</template>

<script>
    // eslint-disable-next-line
    import niceScroll from "jquery.nicescroll";//подключаем jquery плагин глобально
    
    // @ is an alias to /src
    import page from './views/Page.vue';
    import auth from './views/Auth.vue';



    export default {
        name: 'app',
        data: function () {
            return {
                connection: false,
                email: String
            }
        },
        components: {
            page,
            auth,
        },
        created: function () {
            //eslint-disable-next-line
            socket.emit('auth-log');
            //eslint-disable-next-line
            socket.on('auth-log-answer', (answer)=>{
                if(!answer.error){
                    this.connection = true;
                    this.email = answer.data.email;
                }
            });

            //eslint-disable-next-line
            socket.on("auth-logout-answer", answer =>{
                if(!answer.error){
                    this.connection = false;
                    this.email = '';
                }
            })
            
        },
        methods:{
        }
    }


</script>


<style >
body{
    max-width: 100vw;
    max-height: 100vh;
}
#app {
  font-family: 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

</style>


